<script>

$('#add-prompt-btn').on('click', function(e) {
    e.preventDefault()
    performExperiment();
});

function performExperiment() {
    console.log("Begin experiment...");
    var model = $('#model-selection').val();
    var vector = $('#vector-selection').val();
    var selectedDocs = [];

    // Iterate through the checked checkboxes
    $('#documents input[type="checkbox"]:checked').each(function() {
      selectedDocs.push($(this).val());
    });
    var promptchain = $('#myTextarea').val();

    $.ajax({
        url: '/api/prompt_lab',
        type: 'POST',
        data: JSON.stringify({
            model: model,
            vector: vector,
            documents: selectedDocs,
            promptchain: promptchain
        }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true,
        success: function(msg) {
            let result = msg["result"];
            let details = msg["details"];
            $('.output-panel .card').append("<br>");
            $('.output-panel .card').append(result);

            $('.usage-stats').empty();
            $('.usage-stats').append("<h4>Usage Stats</h4>");
            $('.usage-stats').append(details);
            
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(thrownError);
        }
    });

}

</script>