<div class="navbar-header">
	<a class="navbar-brand" href="/">Wildmarker</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
	<li><a href="/home" class="secondary-btn">Explore</a></li>		
	<li><a href="/account" class="secondary-btn">Account</a></li>			
	<li><a href="/upload" class="btn btn-primary primary-nav-button">Upload your data</a></li>
</ul>
</div><!-- /.navbar-collapse -->