app/chroma_db
app/chroma_db/*
data/recommendations_vectordb
uv.lock
app/static/fillable_form.pdf
app/static/temp/*
venv/*
app/app.db
app/static/images/uploads/*
app/static/uploads/*
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

/app/static/db/
/.python-version
/data/
*.log
/logs/
/pids/
*.db
