<!-- Rename Modal Structure -->
<div id="newWorkflowModal" class="modal">
    <div class="modal-content" style="margin: 5% auto;"> 
      <h2>Name your new workflow</h2>
        
      <div style="width: 100%; padding: 30px;"><input type="text" id="newWorkflowName" placeholder="Name your workflow"></div>
      <div>
        <textarea id="newWorkflowDescription" placeholder="Enter text to attach as context to prompt" rows="10"></textarea>
      </div>
      <button id="newWorkflowBtn" style="background-color: #5c21d2bc;" class="btn btn-primary">Create Workflow</button>
      <button id="closeNewWorkflowBtn" class="btn btn-primary">Close</button>
    </div>
  </div>