<!-- Rename Modal Structure -->
<div id="newWorkflowStepModal" class="modal informationmodal">
    <div class="modal-content" style="margin: 5% auto;"> 
      <div class="add-task-container" id="add-task-container">
        <h2 style="margin-top: 0px; margin-bottom: 20px; text-align: left;">Add a step</h2>
        
        <a class="content-btn">
            <div class="add-task add-extraction-step-btn">
                <div class="add-task-icon-container">
                    <i class="fa-regular fa-filter" style="font-size: 24px; color: #D44C4C;"></i>
                </div>
            
                <div class="add-task-content">
                    <div class="add-task-title">Extractions</div>
                    <div class="add-task-description">Use extraction groups to get data</div>
                </div>
            </div>
        </a>
    
        <a class="content-btn add-prompt-step-btn">
            <div class="add-task">
                <div class="add-task-icon-container">
            <i class="fa-solid fa-i-cursor" style="font-size: 24px; color: #70B5D2;"></i>
            </div>
            <div class="add-task-content">
                <div class="add-task-title">Prompts</div>
                <div class="add-task-description">Ask questions, build to-do lists, summarize, and synthesize</div>
            </div>
            </div>
        </a>

        <a class="content-btn add-format-step-btn">
            <div class="add-task">
                <div class="add-task-icon-container">
                    <i class="fa-regular fa-outdent"  style="font-size: 24px; color: #5DBB54;"></i>
            </div>
            <div class="add-task-content">
                <div class="add-task-title">Format</div>
                <div class="add-task-description">Format your data, transform data, reshape information</div>
            </div>
            </div>
        </a>

        <a class="content-btn add-document-step-btn">
            <div class="add-task">
                <div class="add-task-icon-container">
                    <i class="fa-regular fa-file-circle-plus"  style="font-size: 24px; color: #191919;"></i>
            </div>
            <div class="add-task-content">
                <div class="add-task-title">Add Document</div>
                <div class="add-task-description">Insert a document or multiple documents into the workflow</div>
            </div>
            </div>
        </a>
    </div>
  

    <button id="closeWorkflowBtn" class="btn btn-secondary">Close</button>

  </div>