<!-- Rename Modal Structure -->
<div id="newWorkflowModal" class="modal informationmodal">
    <div class="modal-content" style="margin: 5% auto;"> 
      <h2 style="margin-top: 0px; text-align: left;">Start a workflow</h2>
        
      <div style="width: 100%; padding: 15px 0px;"><input type="text" id="newWorkflowName" placeholder="Name your workflow"></div>
      <div style="padding-bottom: 15px;">
        <textarea id="newWorkflowDescription" placeholder="A one sentence description of the workflow's purpose." rows="10"></textarea>
      </div>
      <button id="newWorkflowBtn" class="btn btn-primary">Create Workflow</button>
      <button id="closeNewWorkflowBtn" class="btn close-workflow-btn" type="button">Close</button>
    </div>
  </div>
