
<div class="workflow-container">
    <div>
    <p style="font-size: 24px; font-weight: 600;">
        <span id="workflowTitle">{{ workflow.name }}<i class="fa-regular fa-pen-to-square" id="editWorkflowTitleBtn" style="margin-left: 7.5px; padding-bottom: 5px; font-size: 14px; color: #adadad99; cursor: pointer; font-weight: 200;"></i></span>
        <input id="workflowTitleInput" type="text" style="display: none; font-size: 24px;" />
        
    
        <span id="workflow-close-button" style="float: right; font-size: 1em; color: #191919;">
            <a>
                <i class="fa-solid fa-circle-xmark"></i>
            </a>
        </span>
    </p>
</div>
    <div class="trigger">Trigger</div>

    <div class="workflow-step active">
        <div class="step-content">
            <div class="add-task-icon-container">
                <i class="fa-regular fa-file-lines" style="font-size: 24px;"></i>
            </div>
            <div class="step-header">
                <span>Documents Selected</span>
                <span class="attachment-info"><span class="doc-selected-counter">None selected</span> <span>+ {{ workflow.attachments|length }} attached</span></span>
            </div>
            <div class="step-icon edit-workflow-attachments-btn">
                <i class="fa-solid fa-sliders" style="font-size: 18px; font-weight: 300; color: #46464681;"></i>
            </div>
        </div>
        <div class="step-connector bottom active"></div>
    </div>
    <div class="step-connection-line"></div>

    {% for step in workflow.steps %}

   
    <div class="workflow-step">
        <div class="step-connector top"></div>
        <div class="step-content">
            <div class="add-task-icon-container" style="font-weight: 900; font-size: 18px; aspect-ratio: 1;">
                {{ loop.index }}
            </div>
            <div class="step-header">
                <span>{{ step.name }}</span>
                <span class="item-info">
                    {{ step.tasks|length }} tasks
                </span>
                
            </div>
           
            <span class="workflow-loader" style="display: none;"></span>
            <div class="step-icon edit-workflow-step-btn" data-step-id="{{ step.id }}" data-step-type="{{ step.name|lower }}">
                <i class="fa-solid fa-sliders" style="font-size: 18px; font-weight: 300; color: #46464681;"></i>
            </div>
        </div>
        <div class="step-connector bottom"></div>
    </div>
    <div class="step-connection-line"></div>
    {% endfor %}

    <div class="add-step">
        <button id="add-workflow-step-btn">+ ADD STEP</button>
    </div>


    <div class="workflow-step workflow-output" style="display: none;">
        <div class="step-connector top"></div>
        <div class="step-content">
            <div class="add-task-icon-container">
                <i class="fa-regular fa-file-lines" style="font-size: 24px;"></i>
            </div>
            <div class="step-header">
                <span>View output</span>
                <span class="workflow-output-attachment-info"><span>0 / 3 steps completed</span> <span> <i> 1 second elapsed</i></span></span>
            </div>

        </div>
        <div class="workflow-output-section">

        </div>

    </div>

    <script>
        $('#editWorkflowTitleBtn').on("click", function (e) {
            e.preventDefault();
            $('#workflowTitle').hide();
            $('#workflowTitleInput')
                .val($('#workflowTitle').text())
                .show()
                .focus();
        });

        // Handle title input blur or Enter key
        $('#workflowTitleInput')
            .on("blur", updateWorkflowTitle)
            .on("keypress", function (e) {
                if (e.which === 13) {
                    updateWorkflowTitle();
                }
            });

        function updateWorkflowTitle() {
            const newTitle = $('#workflowTitleInput').val().trim();
            if (newTitle) {
                // Update title text
                $('#workflowTitle').text(newTitle).show();
                
                // Send new title to the server
                const data = JSON.stringify({ title: newTitle, uuid: "{{ workflow.id }}" });
                $.ajax({
                    url: `/api/workflow/update_title`,
                    type: 'POST',
                    data: data,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function () {
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.error(xhr.status, thrownError);
                    }
                });
            }
            $('#workflowTitleInput').hide();
        }

    </script>

    {% include "workflows/workflows_bottom_panel.html" %}
</div>
