<div id="workflowAddFormattingModal" class="modal informationmodal" style="display: block;">
    <div class="workflow-modal-content" style="margin: 5% auto; max-width: 500px; padding: 20px; border-radius: 8px;">
        {% if is_editing %}
        <h2 style="margin-top: 0; text-align: left; font-size: 24px;">Edit Formatter</h2>
        {% else %}
        <h2 style="margin-top: 0; text-align: left; font-size: 24px;">Add Formatter</h2>
        {% endif %}

        <!-- Tabbed navigation -->
        <div class="workflow-tab-container">
            <button class="workflow-tab-btn {% if not is_editing and ('search_set_uuid' in workflow_step.data or not ('prompt' in workflow_step.data)) %}active{% endif %}" 
                    id="selectDropdownTab" 
                    onclick="openAddExtractionTab('selectDropdown')">
                Select from Tasks
            </button>
            <button class="workflow-tab-btn {% if (is_editing and 'search_set_uuid' in workflow_step.data) %}active{% endif %}" 
                    id="manualInputTab" 
                    onclick="openAddExtractionTab('manualInput')">
                Enter Manually
            </button>
            
        </div>

        <!-- Tab content for dropdown selection -->
        <div class="workflow-tab-content" id="selectDropdown"style="{% if (is_editing and ('search_set_uuid' in workflow_step.data or not ('prompt' in workflow_step.data))) %}display: none;{% else %}display: block;{% endif %}">
            <label for="extractionSetDropdown" class="workflow-label">Select a formatter:</label>
            <select id="extractionSetDropdown" class="workflow-input-field">
                {% for prompt in formatters %}
                <option value="{{ prompt.id }}" {% if is_editing and 'search_set_item_uuid' in workflow_step.data and workflow_step.data['search_set_item_uuid'] == prompt.id %}selected{% endif %}>{{ prompt.title }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Tab content for manual input -->
        <div class="workflow-tab-content" id="manualInput" style="{% if not (is_editing and 'prompt' in workflow_step.data) %}display: none;{% else %}display: block;{% endif %} margin: 0 auto;">
            <label for="promptInput" class="label">Enter formatter:</label>
            <input type="text" id="promptInput" 
                placeholder="e.g., Format this as markdown" 
                class="input-field"
                value="{{ workflow_step.data['prompt'] if is_editing and 'prompt' in workflow_step.data else '' }}">
        </div>

        

        <!-- Action buttons -->
         <div style="padding: 30px 0px 0px 0px; margin: 0 auto; display: flex; justify-content: center; gap: 15px;">
            <button id="confirmFormatterStepBtn" class="btn btn-primary">
                {% if is_editing %}
                Edit Formatter
                {% else %}
                Add Formatter
                {% endif %}
            </button>
            <button id="closeAddPromptToWorkflowBtn" class="btn btn-secondary">Close</button>
            {% if is_editing %}
            <button id="deletePromptToWorkflowBtn" class="btn btn-secondary" style="background-color: red;">Delete Step</button>
            {% endif %}
        </div>
    </div>
    </div>
    <script>
        function openAddExtractionTab(tabName) {
            // Hide all tab content
            document.querySelectorAll('.workflow-tab-content').forEach(content => content.style.display = 'none');
            // Remove active class from all tab buttons
            document.querySelectorAll('.workflow-tab-btn').forEach(btn => btn.classList.remove('active'));
            // Show the selected tab content and mark the button as active
            document.getElementById(tabName).style.display = 'block';
            document.getElementById(tabName + 'Tab').classList.add('active');
        }

        $('#closeAddPromptToWorkflowBtn').on("click", function (e) {
            e.preventDefault();  // Prevent default behavior, if needed
            $('#workflowAddFormattingModal').remove();
        });

        {% if is_editing %}
        $('#deletePromptToWorkflowBtn').on("click", function (e) {
            e.preventDefault();  // Prevent default behavior, if needed
            console.log("clicked");
            let data = JSON.stringify({
                workflow_step_id: "{{ workflow_step_id }}"
            });

            $.ajax({
                url: `/api/workflow/delete_step`,
                type: 'POST',
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        });
        {% endif %}
    </script>
    
</div>

