<div id="workflowAddExtractionsModal" class="modal informationmodal" style="display: block;">
    <div class="workflow-modal-content" style="margin: 5% auto; max-width: 500px; padding: 20px; border-radius: 8px;">
        {% if is_editing %}
        <h2 style="margin-top: 0; text-align: left; font-size: 24px;">Edit Extractions</h2>
        {% else %}
        <h2 style="margin-top: 0; text-align: left; font-size: 24px;">Add Extractions</h2>
        {% endif %}

        <!-- Tabbed navigation -->
        <div class="workflow-tab-container">
            <button class="workflow-tab-btn active" id="selectDropdownTab" onclick="openAddExtractionTab('selectDropdown')">Select from Tasks</button>
            <button class="workflow-tab-btn " id="manualInputTab" onclick="openAddExtractionTab('manualInput')">Enter Manually</button>
        </div>

        <!-- Tab content for dropdown selection -->
        <div class="workflow-tab-content" id="selectDropdown" style="display: block;">
            <label for="extractionSetDropdown" class="workflow-label">Select an extraction set:</label>
            <select id="extractionSetDropdown" class="workflow-input-field">
               <option value="Create a new set">Create a new set</option>
               {% for extraction in extraction_sets %}
               <option value="{{ extraction.uuid }}">{{ extraction.title }}</option>
               {% endfor %}
            </select>
        </div>

        <!-- Tab content for manual input -->
        <div class="workflow-tab-content" id="manualInput" style="display: none; margin: 0 auto;">
            <label for="extractionInput" class="label">Enter extractions (comma-separated):</label>
            <input type="text" id="extractionInput" placeholder="e.g., Name, Age, Location" class="input-field">
        </div>        

        <!-- Action buttons -->
         <div style="padding: 30px 0px 0px 0px; margin: 0 auto; display: flex; justify-content: center; gap: 15px;">
        <button id="confirmExtractionStepBtn" class="btn btn-primary">
            {% if is_editing %}
            Edit Extractions
            {% else %}
            Add Extractions
            {% endif %}
        </button>
        <button id="closeAddExtractionToWorkflowBtn" class="btn btn-secondary">Close</button>
        {% if is_editing %}
        <button id="deleteExtractionToWorkflowBtn" class="btn btn-secondary" style="background-color: red;">Delete Step</button>
        {% endif %}
    </div>
    </div>
    <script>
        function openAddExtractionTab(tabName) {
            // Hide all tab content
            document.querySelectorAll('.workflow-tab-content').forEach(content => content.style.display = 'none');
            // Remove active class from all tab buttons
            document.querySelectorAll('.workflow-tab-btn').forEach(btn => btn.classList.remove('active'));
            // Show the selected tab content and mark the button as active
            document.getElementById(tabName).style.display = 'block';
            document.getElementById(tabName + 'Tab').classList.add('active');
        }

        $('#closeAddExtractionToWorkflowBtn').on("click", function (e) {
            e.preventDefault();  // Prevent default behavior, if needed
            $('#workflowAddExtractionsModal').remove();
        });

        {% if is_editing %}
        $('#deleteExtractionToWorkflowBtn').on("click", function (e) {
            e.preventDefault();  // Prevent default behavior, if needed
            console.log("clicked");
            let data = JSON.stringify({
                workflow_step_id: "{{ workflow_step_id }}"
            });

            $.ajax({
                url: `/api/workflow/delete_step`,
                type: 'POST',
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        });
        {% endif %}
    </script>
    
</div>

