<div class="bottom-toolbar" id="bottom-toolbar-chat">
    <div id="add-item-panel">

        <div class="ask-question-container">
            <div class="ask-question">
                <div class="chat-input-wrapper" onclick="document.getElementById('chatinput').focus();">
                    <div id="chatinput" contenteditable="true" translate="no" enterkeyhint="enter" tabindex="0"
                        class="ProseMirror break-words is-editor-empty"
                        data-placeholder="Ask anything about this document…">
                    </div>
                </div>

                <div class="chat-controls-toolbar">
                    <div class="menu-anchor">
                        <a href="#" id="chat-add-link" class="btn btn-secondary" aria-haspopup="true"
                            aria-expanded="false" data-menu="#chat-add-menu">
                            <i class="fa-solid fa-plus" style="padding-right:5px; font-weight:700;"></i>Add
                        </a>

                        <div id="chat-add-menu" class="menu menu-up" role="menu" hidden>
                            <a class="menu-item" role="menuitem" href="/tasks/new/extraction">
                                <i class="fa-solid fa-file-circle-plus" style="width:18px;"></i>
                                Add Document
                            </a>
                            <a class="menu-item" role="menuitem" href="/tasks/new/prompt">
                                <i class="fa-solid fa-globe" style="width:18px;"></i>
                                Add Website
                            </a>
                        </div>
                    </div>





                    <!-- pinned model selector - populated from javascript -->
                    <a href="javascript:void(0);" id="model-text-icon">
                    </a>
                    <div id="chat-model-popup-menu" class="file-popup-menu" style="display: none;">
                        <ul id="chat-model-popup-menu-options">
                            <li id="download-pdf-option-chat">PDF</li>
                            <li id="download-csv-option-chat">CSV</li>
                            <li id="download-text-option-chat">Text</li>
                        </ul>
                    </div>

                    <div style="flex-grow: 1;"></div>
                    <button class="btn btn-primary" id="send-chat-button" disabled>
                        <span style="font-size: 1.2em;">
                            <i class="fa-solid fa-paper-plane"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>