.left-panel {
    position: relative;
    width: 60%;
    height: 100%;
    float: left;
    overflow: scroll;
}

.left-panel .document {
    position: relative;
    margin: 60px;
    margin-top: 30px;
    padding: 60px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 23px -8px rgb(211, 211, 211);
}

.left-panel .ask-question-container {
    position: fixed;
    bottom: 0;
    background-color: transparent;
    width: 60%;
    height: 60px;
    z-index: 100;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.left-panel .ask-question {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 6px;
    
    box-shadow: 0 0 29px 4px rgb(171, 171, 171);
}

.left-panel .ask-question input {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 90px;
    border-width: 0px;
    border-radius: 6px;
}

.left-panel .ask-question button {
    position: absolute;
    right: 30px;
    top: 0;
    height: 50px;
    width: 50px;
    border-width: 0px;
    background-color: transparent;
}

.left-panel .chat-window {
    position: absolute;
    z-index: 1000;
    bottom: 80px;
    left: 0;
    width: 100%;
    overflow: scroll;
    height: calc(100%);
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
        -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
        background-color: rgba(255, 255, 255, 0.3); 
  }