.w-full {
    width: 100%;
  }
  
  .sticky {
    position: sticky;
  }
  
  .bottom-0 {
    bottom: 0;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .md\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  
  .relative {
    position: relative;
  }
  
  .z-10 {
    z-index: 10;
  }
  
  .bg-bg-000 {
    background-color: var(--bg-000);
  }
  
  .rounded-t-2xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  .border-t-0\.5 {
    border-top-width: 0.125rem;
  }
  
  .border-x-0\.5 {
    border-left-width: 0.125rem;
    border-right-width: 0.125rem;
  }
  
  .border-border-300 {
    border-color: var(--border-300);
  }
  
  .pl-3\.5 {
    padding-left: 0.875rem;
  }
  
  .sm\:pl-5 {
    padding-left: 1.25rem;
  }
  
  .pr-2\.5 {
    padding-right: 0.625rem;
  }
  
  .pb-2 {
    padding-bottom: 0.5rem;
  }
  
  .sm\:pb-3 {
    padding-bottom: 0.75rem;
  }
  
  .mt-6 {
    margin-top: 1.5rem;
  }
  
  .-mx-1 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  
  .sm\:mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  
  .flex {
    display: flex;
  }
  
  .items-start {
    align-items: flex-start;
  }
  
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  
  .focus-within\:border-border-200:focus-within {
    border-color: var(--border-200);
  }
  
  .z-\[5\] {
    z-index: 5;
  }
  
  .shadow-\[0_0\.25rem_1\.25rem_rgba\(0\,0\,0\,0\.05\)\,0_0_0\.75rem_0\.5rem_hsl\(var\(--bg-100\)\)\] {
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.05), 0 0 0.75rem 0.5rem hsl(var(--bg-100));
  }
  
  .focus-within\:shadow-\[0_0\.25rem_2rem_rgba\(0\,0\,0\,0\.075\)\,0_0_1rem_0\.75rem_hsl\(var\(--bg-100\)\)\]:focus-within {
    box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.075), 0 0 1rem 0.75rem hsl(var(--bg-100));
  }
  
  .data-\[has-accessory-warning\=\"true\"\]\:shadow-\[0_0\.25rem_1\.75rem_rgba\(0\,0\,0\,0\.05\)\,0_0_1\.25rem_1\.5rem_hsl\(var\(--bg-100\)\)\] {
    box-shadow: 0 0.25rem 1.75rem rgba(0, 0, 0, 0.05), 0 0 1.25rem 1.5rem hsl(var(--bg-100));
  }
  
  .data-\[has-accessory-warning\=\"true\"\]\:focus-within\:shadow-\[0_0\.25rem_2rem_rgba\(0\,0\,0\,0\.075\)\,0_0_1\.25rem_1\.75rem_hsl\(var\(--bg-100\)\)\]:focus-within {
    box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.075), 0 0 1.25rem 1.75rem hsl(var(--bg-100));
  }
  
  .max-\[400px\]\:data-\[has-accessory-warning\=\"true\"\]\:mt-10 {
    margin-top: 2.5rem;
  }
  
  .max-\[400px\]\:data-\[has-accessory-warning\=\"true\"\]\:shadow-\[0_0\.25rem_1\.75rem_rgba\(0\,0\,0\,0\.05\)\,0_0_1\.5rem_2\.75rem_hsl\(var\(--bg-100\)\)\] {
    box-shadow: 0 0.25rem 1.75rem rgba(0, 0, 0, 0.05), 0 0 1.5rem 2.75rem hsl(var(--bg-100));
  }
  
  .absolute {
    position: absolute;
  }
  
  .bottom-full {
    bottom: 100%;
  }
  
  .left-0 {
    left: 0;
  }
  
  .w-full {
    width: 100%;
  }
  
  .text-center {
    text-align: center;
  }
  
  .pb-1 {
    padding-bottom: 0.25rem;
  }
  
  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .sm\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .leading-tight {
    line-height: 1.25;
  }
  
  .\[text-shadow\:_0_0_0\.25rem_hsl\(var\(--bg-200\)\)\] {
    text-shadow: 0 0 0.25rem hsl(var(--bg-200));
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-1 {
    flex: 1 1 0%;
  }
  
  .gap-4 {
    gap: 1rem;
  }
  
  .break-words {
    word-break: break-word;
  }
  
  .min-w-0 {
    min-width: 0;
  }
  
  .overflow-y-auto {
    overflow-y: auto;
  }
  
  .max-h-96 {
    max-height: 24rem;
  }
  
  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .max-w-\[60ch\] {
    max-width: 60ch;
  }
  
  .is-empty::before {
    content: attr(data-placeholder);
  }
  
  .is-editor-empty::before {
    color: var(--text-500);
    white-space: nowrap;
  }
  
  .ProseMirror-trailingBreak {
    display: block;
  }
  
  .grid {
    display: grid;
  }
  
  .grid-flow-col {
    grid-auto-flow: column;
  }
  
  .mt-3 {
    margin-top: 0.75rem;
  }
  
  .-mr-1\.5 {
    margin-right: -0.375rem;
  }
  
  .mr-1\.5 {
    margin-right: 0.375rem;
  }
  
  .h-8 {
    height: 2rem;
  }
  
  .w-8 {
    width: 2rem;
  }
  
  .place-content-center {
    place-content: center;
  }
  
  .aspect-square {
    aspect-ratio: 1/1;
  }
  
  .rounded-xl {
    border-radius: 0.75rem;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .bg-bg-200 {
    background-color: var(--bg-200);
  }
  
  .\[fieldset\:not\(\:disabled\)_\&\]\:hover\:bg-bg-400:hover {
    background-color: var(--bg-400);
  }
  
  .\[fieldset\:disabled_\&\]\:opacity-50 {
    opacity: 0.5;
  }
  
  .\[fieldset\:disabled_\&\]\:pointer-events-none {
    pointer-events: none;
  }
  
  .focus-within\:ring:focus-within {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }
  
  .opacity-0 {
    opacity: 0;
  }
  
  .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .-z-10 {
    z-index: -10;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .w-0 {
    width: 0;
  }
  
  .h-0 {
    height: 0;
  }