
.workflow-container {
    background-color: #F0F2F8;
    width: 100%;
    height: 100%;
    padding: 30px 30px 150px 30px;
    background-image: 
    linear-gradient(45deg, #EAECF2 25%, transparent 25%),
    linear-gradient(-45deg, #EAECF2 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #EAECF2 75%),
    linear-gradient(-45deg, transparent 75%, #EAECF2 75%);
    background-size: 30px 30px;
    background-position: 0 0, 0 15px, 15px -15px, -15px 0;
    border: 1px solid #2f2f2fc2;
    overflow: scroll;
  }
  
  .trigger {
    background-color: #404040;
    color: white;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    width: 120px;
    margin: 22px auto 0px auto;
  }
  
  .workflow-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
  }
  
  .workflow-step.active {
    border: 2px solid #f1b300;
  }
  
  .step-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 15px;
  }
  
  .step-header {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .step-header span:first-child {
    font-weight: bold;
  }
  
  .step-connector {
    width: 30px;
    height: 30px;
    position: absolute;
    left: calc(50% - 15px);
  }

  .step-connector.bottom {
    bottom: -15px;
    background-image: url('/static/images/step-connector-bottom.png');
  }

  .step-connector.top {
    top: -15px;
    background-image: url('/static/images/step-connector-top.png');
  }

  /* Active states */
.step-connector.bottom.active {
  background-image: url('/static/images/step-connector-bottom-active.png');
}

.step-connector.top.active {
  background-image: url('/static/images/step-connector-top-active.png');
}
  
  .step-connection-line {
    width: 2px;
    background-color: #bcbcbc;
    height: 20px;
    margin: 10px auto;
  }
  
  .attachment-info,
  .item-info,
  .output-info {
    color: #888;
    font-size: 0.9em;
  }
  
  .step-icon {
    cursor: pointer;
  }

  .step-icon img {
    width: 30px;
    height: 30px;
    
  }
  
  .add-step {
    text-align: center;
    margin: 15px 0;
  }
  
  .add-step button {
    border: none;
    /* width: 30px;
    height: 30px; */
    cursor: pointer;
    background-color: #f1b300;
    border: 2px solid #f1b300;
    font-size: 1.15rem;
    line-height: 1;
    font-weight: 700;
    padding: 0.65em;
    outline-offset: 3px;
    margin-top: -15px;
  }
  
  .add-step button:hover {
    background-color: white;
  }

  .workflow-modal-content {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.workflow-tab-container {
    display: flex;
    border-bottom: 1px solid #ddddddbb;
    margin-bottom: 15px;
}

.workflow-tab-btn {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background: #f9f9f9;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.workflow-tab-btn:hover {
    background-color: white;
}

.workflow-tab-btn.active {
    border-bottom: 2px solid #f1b300;
    font-weight: bold;
}

.workflow-tab-content {
    display: none;
}

.workflow-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

.workflow-input-field {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#fileSearch {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#fileList {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

#fileList li {
  padding: 8px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#fileList li:hover {
  background-color: #f0f0f5;
}

.workflow-loader {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  border: 5px dotted #f1b300;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.workflow-modal-header {
  margin-top: 0; 
  text-align: left; 
  font-size: 20px; 
  font-weight: 600;
  padding: 20px 30px 5px 30px;
}

.workflow-modal-subtitle {
  font-size: 16px; 
  font-weight: 400;
  color: #888;
  padding: 0px 30px;
}

.workflow-overlay hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 0.5px solid #88888842;
}

.workflow-content-body {
  padding: 10px 30px 5px 30px;
}

.workflow-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.add-workflow-step-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Left Column Styling */
.add-workflow-step-container .left-column {
  width: 25%;
  background-color: #f4f4f4;
  padding: 20px 10px 20px 0px;
  border-right: 1px solid #ddd;
}

.add-workflow-step-container .workflow-modal-header {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.add-workflow-step-container .section-list {
  list-style: none;
  padding: 0;
}

.add-workflow-step-container .section-item {
  padding: 10px 15px;
  cursor: pointer;
  color: #777777;
  font-weight: 600;
}

.add-workflow-step-container .section-item.active {
  background-color: #e6e6e6;
  font-weight: bold;
}

/* Right Column Styling */
.add-workflow-step-container .right-column {
  width: 75%;
  padding: 0px 20px 20px 20px;
}

.add-workflow-step-container .right-column .workflow-add-step-subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1em;
}

.workflow-tab-content input {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-width: 0px;
  border: 1px solid #d3d3d3;
}

.workflow-tab-content textarea {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-width: 0px;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
}