<!-- Rename Modal Structure -->
<div id="attachmentModal" class="modal">
    <div class="modal-content" style="margin: 5% auto;">
     
      <h2>Add context</h2>
      <div class="attach-area" id="attach-area">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <header style="padding: 0 15px; text-align: center;">Drag & Drop File</header>
        <input type="file" hidden style="display:none;">
    </div>
    or
    <div>
      <textarea id="attachmentText" placeholder="Enter text to attach as context to prompt" rows="10"></textarea>
    </div>
      <button id="attachBtn" style="background-color: #191919;" class="btn btn-primary">Attach</button>
      <button id="closeAttachBtn" class="btn btn-primary">Close</button>
    </div>
  </div>