<!-- Raw Text Modal Structure -->
<div id="rawTextModal" class="modal" data-context="" data-uuid="">
    <div class="modal-content" style="min-height: 300px;">
        <h3 style="position: absolute; top: 15px; left: 15px; font-weight: 600; padding-top: 5px; margin-top: 0px;">How do we see this?</h3>
        <p id="rawTextContent" class="overflow-scroll" style="text-align: left; word-wrap: break-word; margin-top: 45px;"></p>
        <button id="closeRawTextModalBtn" class="btn btn-primary" style="position: absolute; top: 15px; right: 15px;">
                Close</button>
    </div>
</div>
