#loading-area {
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 60px;
    display: none;
  }
  
  .drag-area{
    border: 2px dashed #17181a50;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 45px;
    border-radius: var(--ui-radius, 12px);
  }
  .drag-area.active{
   border: 2px dashed #17181a9d;
  }
  .drag-area .icon{
    font-size: 24px;
    font-weight: 400;
    color: #17181abb;
  }
  .drag-area header{
    font-size: 22px;
    font-weight: 500;
    color: #17181abb;
  }
  .drag-area span{
    font-size: 25px;
    font-weight: 500;
    color: #5D6F81;
    margin: 10px 0 15px 0;
  }
  .drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #efefef;
    color: black;
    border-radius: var(--ui-radius, 12px);
    cursor: pointer;
  }
  .drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--ui-radius, 12px);
  }


  .attach-area{
    border: 2px dashed #17181a50;
    height: 100px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 30px 15px 30px;
  }
  .attach-area.active{
    border: 2px solid #efefef;
  }
  .attach-area .icon{
    font-size: 22px;
    font-weight: 400;
    color: #17181abb;
  }
  .attach-area header{
    font-size: 22px;
    font-weight: 500;
    color: #17181abb;
  }
  .attach-area span{
    font-size: 14px;
    font-weight: 500;
    color: #5D6F81;
    margin: 10px 0 15px 0;
  }
  .attach-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #efefef;
    color: black;
    border-radius: 5px;
    cursor: pointer;
  }
  .attach-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
