<div class="gradient-border delay-2 workflow-recommendation-item" style="width: 100%; cursor: pointer; "
    data-uuid="{{ workflow.id }}" data-title="{{ workflow.title }}" style="cursor: pointer;">
    <div class="recommendation-workflow-card">
        <i class="icon fa-solid fa-hexagon-nodes-bolt"></i>
        <div class="text">
            <div class="type">Workflow</div>
            <div class="title">{{ workflow.name }}</div>
            <div class="subtitle">{{ workflow.description }}</div>
        </div>
    </div>
</div>