<div id="" class="workflow-overlay workflowAddExtractionsModal" style="display: block;">
    <div class="workflow-modal-content">
        <!-- Header -->
        <h2 class="workflow-modal-header">
            {% if is_editing %} Edit Extractions {% else %} Add Extractions {% endif %}
            <a class="closeAddExtractionToWorkflowBtn" style="float:right; color: #88888899; cursor: pointer;"><i class="fa-solid fa-circle-xmark"></i></a>
        </h2>

        <!-- Description -->
        <hr>
        <h3 class="workflow-modal-subtitle">Extract specific information from text using AI</h3>
        <hr style="padding-bottom: 0px; margin-bottom: 0px;">

        <!-- Tabbed navigation -->
        <label class="workflow-label" style="padding: 15px 30px;">Basic Setup</label>
        <div class="workflow-tab-container">
            <button class="workflow-tab-btn {% if not is_editing or (is_editing and 'search_set_uuid' in workflow_task.data) %}active{% endif %}" 
                    id="selectDropdownTab" 
                    onclick="openAddExtractionTab('selectDropdown')">
                Select from Tasks
            </button>
            <button class="workflow-tab-btn {% if (is_editing and 'search_set_uuid' not in workflow_task.data) %}active{% endif %}" 
                    id="manualInputTab" 
                    onclick="openAddExtractionTab('manualInput')">
                Enter Manually
            </button>
        </div>

        <!-- Body -->
        <div class="workflow-content-body">
            <!-- Tab content for dropdown selection -->
            <div class="workflow-tab-content" id="selectDropdown" style="{% if not is_editing or (is_editing and 'search_set_uuid' in workflow_task.data) %}display: block;{% else %}display: none;{% endif %}">
                <label for="extractionSetDropdown" class="workflow-label">Select an extraction set:</label>
                <select id="extractionSetDropdown" class="workflow-input-field">
                {% for extraction in extraction_sets %}
                <option value="{{ extraction.uuid }}" {% if is_editing and 'search_set_uuid' in workflow_task.data and workflow_task.data['search_set_uuid'] == extraction.uuid %}selected{% endif %}>{{ extraction.title }}</option>
                {% endfor %}
                </select>
            </div>

            <!-- Tab content for manual input -->
            <div class="workflow-tab-content" id="manualInput" 
            style="{% if (is_editing and 'search_set_uuid' not in workflow_task.data) %}display: block;{% else %}display: none;{% endif %} margin: 0 auto;">
                <label for="extractionInput" class="label">Enter extractions (comma-separated):</label>
                <input type="text" id="extractionInput"
                        placeholder="e.g., Name, Age, Location"
                        class="input-field"
                        value="{{ workflow_task.data['searchphrases'] if is_editing and 'searchphrases' in workflow_task.data else '' }}">
            </div>
        </div>

        <!-- Bottom Toolbar -->
        <div class="bottom-toolbar" style>
            <div>
                <div style="padding: 0px; margin: 0 auto; display: flex; justify-content: center; gap: 15px;">
                    {% if is_editing %}
                    <button id="deleteExtractionToWorkflowBtn" class="btn btn-secondary" style="background-color: red; flex-grow: 1;">Delete Step</button>
                    {% endif %}
                    
                    <button id="confirmExtractionStepBtn" class="btn btn-primary" style="flex-grow: 1;">
                        {% if is_editing %}
                        Edit Extractions
                        {% else %}
                        Add Extractions
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function openAddExtractionTab(tabName) {
            // Hide all tab content
            document.querySelectorAll('.workflow-tab-content').forEach(content => content.style.display = 'none');
            // Remove active class from all tab buttons
            document.querySelectorAll('.workflow-tab-btn').forEach(btn => btn.classList.remove('active'));
            // Show the selected tab content and mark the button as active
            document.getElementById(tabName).style.display = 'block';
            document.getElementById(tabName + 'Tab').classList.add('active');
        }

        $('.closeAddExtractionToWorkflowBtn').on("click", function (e) {
            e.preventDefault();  // Prevent default behavior, if needed
            $('.workflowAddExtractionsModal').remove();
        });

        {% if is_editing %}
        $('#deleteExtractionToWorkflowBtn').on("click", function (e) {
            e.preventDefault();  // Prevent default behavior, if needed
            console.log("clicked");
            let data = JSON.stringify({
                workflow_task_id: "{{ workflow_task_id }}"
            });

            $.ajax({
                url: `/workflows/delete_step_task`,
                type: 'POST',
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        });
        {% endif %}
    </script>
</div>

