.playground {
    width: 100%;
    height: calc(100vh - 160px);
}

.playground .selection-panel {
    padding: 15px;
    width: 20%;
    height: 100%;
    overflow: scroll;
    float: left;
}

.playground .selection-panel h3 {
    padding-top: 10px;
    
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.playground .input-panel {
    padding: 15px;
    width: 40%;
    height: 100%;
    overflow: scroll;
    float: left;
}

.input-panel textarea {
    width: 100%;
    height: calc(100% - 60px);
    border: none; /* Remove the textarea border if desired */
    resize: none; /* Prevent resizing of the textarea */
    padding: 10px; /* Add padding for a better appearance */
    box-sizing: border-box; /* Include padding and border in the width and height */
  }

  .multiline-placeholder {
    position: absolute;
    top: 55px; /* Adjust the top position as needed */
    left: 40px; /* Adjust the left position as needed */
    pointer-events: none; /* Allow clicking through the placeholder text */
    color: #999; /* Placeholder text color */
  }

.playground .output-panel {
    padding: 15px;
    width: 40%;
    height: 100%;
    overflow: scroll;
    float: left;
}

.playground .card {
    padding: 0px 30px;
    height: 100%;
}

.playground .card h3 {
    padding-top: 10px;
    
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.prompt-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    padding: 10px 30px;
}

.prompt-toolbar .btn {
    margin-right: 10px;
}


.prompt-toolbar button.shadow-button {
    border-radius: 30px;
    border-width: 0px;
    box-shadow: 0 0px 23px -8px rgb(211, 211, 211);
    font-size: 16px;
    font-weight: 600;
    background-color: #2976E8;
    color: white;
    transition: 1s;
    padding: 5px 30px;
    animation-timing-function:cubic-bezier(0.2, 0.8, 0.2, 1);
}

button.shadow-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

