<script>
  const placeholderText = "Chat with document...";

  let chatReponse = null;

  // Handle Enter and Shift+Enter keydown events
  $("#chatinput").on("keydown", function (event) {
    $("#chatplaceholder").attr("data-placeholder", "");
    $("#chatplaceholder").css("color", "black");

    if (event.key === "Enter" && !event.shiftKey) {
      event.preventDefault(); // Prevent the default behavior of adding a newline
      // Trigger your JavaScript event here
      if (document_uuids != "") {
        chat();
        return;
      } else {
        showToast("Select a document to chat");
      }
    }
  });

  $("#chat-button").on("click", function (e) {
    e.preventDefault();
    console.log("chat button clicked");
    if (document_uuids != "") {
      chat();
      return;
    } else {
      showToast("Select a document to chat");
    }
  });

  function chat() {
    // let question = $("#chatinput")[0].textContent;

    let question = $("#chatinput")[0].textContent.trim().replace(/\n/g, " ");
    $("#chat-panel").append(
      "<p><div class='message-you'>" + question + "</div></p>",
    );

    function createFeedbackButtons(question, answer, context, document_uuids) {
      const feedbackDiv = document.createElement("div");

      const positiveButton = document.createElement("button");
      positiveButton.innerHTML =
        '<i class="fas fa-thumbs-up text-blue-500"></i>';
      positiveButton.className = "mr-2";
      positiveButton.onclick = () =>
        sendFeedback(
          "positive",
          question,
          answer,
          context,
          document_uuids,
          positiveButton,
        );

      const negativeButton = document.createElement("button");
      negativeButton.innerHTML =
        '<i class="fas fa-thumbs-down text-red-500"></i>';
      negativeButton.className = "mr-2";
      negativeButton.onclick = () =>
        sendFeedback(
          "negative",
          question,
          answer,
          context,
          document_uuids,
          negativeButton,
        );

      feedbackDiv.appendChild(positiveButton);
      feedbackDiv.appendChild(negativeButton);

      return feedbackDiv;
    }

    // reset the chat
    $("#chatinput").find("p").text("");
    $.ajax({
      url: "/api/chat",
      type: "POST",
      data: JSON.stringify({
        document_uuids: document_uuids,
        message: question,
        folder_uuid: folder_uuid,
      }),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      async: true,
      success: function (response) {
        console.log(response);
        let answer = response.answer;
        let question = response.question;
        let formatted_answer = response.formatted_answer;
        let context = response.context;

        const responseDiv = $("<div>").addClass("message-response");
        responseDiv.html(formatted_answer);
        responseDiv.append(
          createFeedbackButtons(question, answer, context, document_uuids),
        );

        // reload page

        $("#chat-panel").append($("<p>").append(responseDiv));
        $("#chatplaceholder").attr("data-placeholder", "Chat with document...");
        $("#chatplaceholder").css("color", "darkgray");
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(xhr.status);
        console.log(thrownError);
      },
    });
    search_set_add_uuid = "";
    is_adding_term = false;
  }

  function sendFeedback(
    feedback_type,
    question,
    answer,
    context,
    document_uuids,
    button,
  ) {
    $.ajax({
      url: "/feedback",
      type: "POST",
      data: JSON.stringify({
        feedback_type: feedback_type,
        question: question,
        answer: answer,
        context: context,
        docs_uuids: document_uuids,
      }),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      async: true,
      success: function (response) {
        // $(button).attr("disabled", true);
        // $(button).attr("style", "cursor: not-allowed;");
        // $(button).siblings("button").attr("disabled", true);
        console.log("Feedback sent successfully", response);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(xhr.status);
        console.log(thrownError);
      },
    });
  }
</script>
