<div class="tab-content" id="chat-panel"
    style="{% if section != 'Assistant' and section != 'Tasks' %}display: none;{% endif %}">
    <!-- pinned model selector - populated from javascript -->
    <a href="javascript:void(0);" id="model-text-icon">
    </a>
    <div id="chat-model-popup-menu" class="file-popup-menu" style="display: none;">
        <ul id="chat-model-popup-menu-options">
            <li id="download-pdf-option">PDF</li>
            <li id="download-csv-option">CSV</li>
            <li id="download-text-option">Text</li>
        </ul>
    </div>

    <!-- rest of your content… -->
    <p style="font-size:12px; font-weight:300; color:#00000077;" class="doc-selected-counter">
        <i>{{ documents|length }} documents selected</i>
    </p>
    <div class="chat-card-container" style="margin-top: 30px;">
        <div class="loading-event-progress-container" style="display: none;">
            <div class="loading-event-progress-content">
                <div id="loading-event-progress">
                    <i id="loading-event-icon" class="fa-solid fa-file-import"></i>
                    <h2 id="loading-event-title">Ready to roll with AI?</h2>
                    <p id="loading-event-message">Just add or select a document to begin.</p>
                    <h2 id="loading-event-title"></h2>
                    <div class="loading-progress-bar">
                        <div class="loading-progress-fill"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="recommendations-panel">

    </div>
</div>

<script>
</script>