<div class="bottom-toolbar" id="bottom-toolbar-chat"
    style="{% if section != 'Assistant' and section != 'Tasks' %}display: none;{% endif %}">
    <div id="add-item-panel">

        <div class="ask-question-container">
            <div class="ask-question">
                <div class="chat-input-wrapper" onclick="document.getElementById('chatinput').focus();">
                    <div id="chatinput" contenteditable="true" translate="no" enterkeyhint="enter" tabindex="0"
                        class="ProseMirror break-words is-editor-empty"
                        data-placeholder="Ask anything about this document…">
                    </div>
                </div>

                <div class="chat-controls-toolbar">
                    <a href="#" id="tasks-link" class="tasks-link-style btn-secondary">
                        <i class="fa-solid fa-plus" style="padding-right: 5px; font-weight: 700;"></i>Add
                    </a>

                    <div style="flex-grow: 1;"></div>


                    <!-- pinned model selector - populated from javascript -->
                    <a href="javascript:void(0);" id="model-text-icon">
                    </a>
                    <div id="chat-model-popup-menu" class="file-popup-menu" style="display: none;">
                        <ul id="chat-model-popup-menu-options">
                            <li id="download-pdf-option">PDF</li>
                            <li id="download-csv-option">CSV</li>
                            <li id="download-text-option">Text</li>
                        </ul>
                    </div>
                    <button class="btn btn-primary" id="send-chat-button" disabled>
                        <span style="font-size: 1.2em;">
                            <i class="fa-solid fa-paper-plane"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>