<div class="gradient-border delay-2 extraction-recommendation-item" style="width: 100%; cursor: pointer; "
    data-uuid="{{ search_set.id }}" data-title="{{ search_set.title }}" style="cursor: pointer;">
    <div class="recommendation-workflow-card">
        <i class="icon fa-solid fa-filter"></i>
        <div class="text">
            <div class="type">Extraction</div>
            <div class="title">{{ search_set.title }}</div>
            <div class="subtitle">{{ search_set.item_count() }} items</div>
        </div>
    </div>
</div>