<div class="no-recommendations" style="text-align:center; padding: 2rem;">
    <p style="font-weight: 600; font-size: 18px;" class="mb-4">No recommendations for documents like these yet. Try one
        of these:</p>
    <br>
    <div class="gradient-border delay-2 workflow-recommendation-item" data-action="create-task"
        style="cursor: pointer; width: 100%; margin: 0 auto 1.5rem;">
        <div id="recommendation-task-card" class="recommendation-workflow-card">
            <i class="icon fa-solid fa-project-diagram"></i>
            <div class="text">
                <div class="type">Task</div>
                <div class="title">Create or run a task</div>
                <div class="subtitle">Run a quick task on this document</div>
            </div>
        </div>
    </div>

    <div class="gradient-border delay-2 workflow-recommendation-item" data-action="create-workflow"
        style="cursor: pointer; width: 100%; margin: 0 auto;">
        <div id="recommendation-create-workflow-card" class="recommendation-workflow-card">
            <i class="icon fa-solid fa-hexagon-nodes-bolt"></i>
            <div class="text">
                <div class="type">Workflow</div>
                <div class="title">Create or run a workflow</div>
                <div class="subtitle">Interact with this document in a more complicated way</div>
            </div>
        </div>
    </div>
</div>