<div class="bottom-toolbar" id="bottom-toolbar-extraction"
                style="{% if section != 'Extract' %}display: none;{% endif %}">
                <div id="add-item-panel">
                    <p style="font-size: 24px; font-weight: 600;">Add Extraction</p>
                    <div class="input-container">
                        <div class="ask-question">
                            <input type="text" id="add-search-term-input" placeholder="Term or phrase to extract...">

                            <button class="add-button-2 shadow-button" id="add-term-button">
                                <span style="font-size: 2em; color: #5c21d2bc;">
                                    <i class="fa-solid fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>