{% extends "base.html" %} {%block title%}Review | Document Scanner{%endblock%} {% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />

{% endblock %} {% block styles %} {{super()}}

<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='rightpanel.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='leftpanel.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='datepicker.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='styles/loaders.css')}}" />

{% endblock %}

{% block navbar %}
<div style="display: none" id="current-space-id">{{ current_space_id }}</div>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <img id="navbar-img" style="float: left; width: 50px; height: 50px; margin-top: 15px; "
            src="/static/images/logo.png">
        <a class="navbar-brand" id="navbar-img" href="/">Smarter Document</a>
    </div>

    <select class="custom-select" id="space-select" style="float: right; margin-top: 20px;">
        {% for space in spaces %}
        <option value="{{ space.uuid }}">{{ space.title }}</option>
        {% endfor %}

        <option value="Create New Space">
            <i>Create New Space</i>
        </option>
    </select>
    </div>
    <!-- /.container-fluid -->
</nav>

{% endblock %} {%block content %}

<div class="main-panel">

    <div class="left-panel">
        <div class="header">

            <div class="row" style="height:100%;">
                <div class="col-md-3" style="height:100%; padding-top: 7.5px;">
                    <a style="padding-left: 30px; margin-top: 5px;" href="/">
                        <span style="font-size: 2em;  color: #687786;">
                            <i class="fa-solid fa-arrow-left"></i>
                        </span>
                    </a>
                </div>
                <div class="col-md-6">
                    <p id="document-title"
                        style="text-align: center; padding-top: 15px; font-size: 18px; font-weight: 600; color: #465056;">
                        {{ document.title }}</p>
                </div>
                <div class="col-md-3" style="height:100%; padding-top: 7.5px; float: right;">


                </div>

            </div>

        </div>
        <div class="document" id="document">

        </div>


    </div>
    <div class="right-panel">
        <div id="right-panel-content">
            <div style="margin: 0px 30px 30px 30px; text-align: left;">
                <p style="font-size: 24px; font-weight: 600;">Search Sets</p>
                <div class="ask-question-container">
                    <div class="ask-question">
                        <input type="text" id="ask-question-input" placeholder="Find a search set...">
    
                        <button class="add-button shadow-button" id="ask-question-btn">
                            <span style="font-size: 2em; color: #5c21d2bc;">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>


        </div>

        <div class="bottom-toolbar">
            <p style="font-size: 24px; font-weight: 600;">Add Item</p>
            <div class="segmented-control">
                <input type="radio" name="segment" id="segment-1" checked>
                <label for="segment-1">Smart Search</label>

                <input type="radio" name="segment" id="segment-2">
                <label for="segment-2">Extract</label>
            </div>
            <div class="ask-question-container">
                <div class="ask-question">
                    <input type="text" id="ask-question-input" placeholder="Term or Phrase...">


                    <button class="add-button shadow-button" id="ask-question-btn">
                        <span style="font-size: 2em; color: #5c21d2bc;">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    </button>
                    <button class="search-button shadow-button" id="ask-question-btn">
                        <span style="font-size: 2em; color: #5c21d2bc;">

                            <i class="fa-brands fa-searchengin"></i>
                        </span>
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="chat-window closed">
    </div>
</div>


{%endblock%} {% block scripts %}
{{super()}}
{% include "review/proofreading_scripts.html" %}
{% include "review/compliance_scripts.html" %}
{% include "review/review_scripts.html" %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="{{url_for('static', filename='javascript/jquery.js')}}"></script>
<script src="{{url_for('static', filename='javascript/pdf.js')}}"></script>

<script>
    var container = $('.document')[0];
    var loadingTask = pdfjsLib.getDocument('/static/uploads/{{ document.path }}');
    loadingTask.promise.then(function (pdf) {
        // you can now use *pdf* here
        for (let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++) {
            // Create a canvas element for each page
            const canvas = document.createElement('canvas');
            container.appendChild(canvas);
            pdf.getPage(pageNumber).then(function (page) {
                var scale = 1.2;
                var viewport = page.getViewport({ scale: scale, });
                var context = canvas.getContext('2d');
                console.log(viewport.width);
                console.log(viewport.height);
                var aspect = viewport.width / viewport.height;

                canvas.width = Math.floor(container.clientWidth - 100.0);
                canvas.height = Math.floor((container.clientWidth - 100.0) / aspect);
                //canvas.style.width = Math.floor(container.clientWidth - 100.0)  + "px";
                //canvas.style.height = Math.floor((container.clientWidth - 100.0) * aspect) + "px";


                var renderContext = {
                    canvasContext: context,

                    viewport: viewport
                };
                page.render(renderContext);
            })
        }
    });




</script>

{% endblock %}