<script>
    const placeholderText = "Chat with document...";

    // Handle Enter and Shift+Enter keydown events
    $('#chatinput').on('keydown', function(event) {
        $('#chatplaceholder').attr("data-placeholder", "");
        if (event.key === 'Enter' && !event.shiftKey) {
            event.preventDefault(); // Prevent the default behavior of adding a newline
            // Trigger your JavaScript event here
            if (document_uuid != "") {
                chat();
                return;
            } else {
                showToast("Select a document to chat");
            }
        }
    });

    $('#chat-button').on("click", function (e) {
            e.preventDefault();
        console.log("chat button clicked");
            if (document_uuid != "") {
                chat();
                return;
            } else {
                showToast("Select a document to chat");
            }
        });


        function chat () {
            let question = $("#chatinput").find('p').text();
            $("#chat-panel").append("<p><div class='message'><b>You:</b> " + question + "</div></p>");
            // reset the chat
            $("#chatinput").find('p').text("");
            $.ajax({
                url: '/api/chat',
                type: 'POST',
                data: JSON.stringify({
                    document_uuid: document_uuid,
                    message: question
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (response) {
                    // reload page
                    $("#chat-panel").append("<p><div class='message'><b>Response:</b> " + response + "</div></p>");
                    $('#chatplaceholder').attr("data-placeholder", "Chat with document...");
            
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
            search_set_add_uuid = "";
            is_adding_term = false
        }
</script>