<!-- Modal -->
<div id="chat-input-modal" class="modal" data-context="" data-uuid="">
  <div class="modal-content" style="min-height: 300px; position: relative;">
    <h3 style="position: absolute; top: 15px; left: 15px; font-weight: 600; padding-top: 5px; margin-top: 0px;">
      Add a link
    </h3>

    <button id="close-chat-input-modal" class="btn btn-primary"
            style="position: absolute; top: 15px; right: 15px;">
      Close
    </button>

    <div style="margin-top: 80px; padding: 20px;">
      <input type="url" id="chat-input-link" placeholder="Paste a link here..."
             style="width: 80%; padding: 10px; border: 1px solid #ccc; border-radius: 6px;" />
      <button type="button" id="submitChatInputBtn" class="btn btn-success"
              style="margin-left: 10px; margin-top: 10px; padding: 10px 15px; border-radius: 6px;">
        Submit
      </button>
    </div>
  </div>
</div>
