<script>
    var is_adding_prompt_term = false;
    var prompt_set_add_uuid = "";
    
    $(document).ready(function () {

        function createSearchTermDictionary() {
            const searchTermDictionary = {};
            let searchItems = $('.set-result-items').children();
            searchItems.each(function() {
                const searchPhrase = $(this).find('.set-title').text().trim();
                const result = $(this).find('.extraction-result').text().trim();
                searchTermDictionary[searchPhrase] = result;
            });

            return searchTermDictionary;

            return searchTermDictionary;
        }
        
        $('.prompt-set-item').on("click", function () {
            console.log("Prompt item tapped");
            performPromptSearch($(this).attr("data-uuid"), $(this).attr("data-title"));
        });

        function performPromptSearch(datauuid, datatitle) {
            prompt_set_add_uuid = datauuid;
            $('#adding-prompt-set-title').text(datatitle);
            if (is_adding_prompt_term) {
                $('#adding-prompt-set-title').text(datatitle);
            } else {
                updateSearchSetPanel(datauuid);

                if (document_uuid == null || document_uuid == "") {
                    return;
                }

                showWorking();
                $.ajax({
                    url: '/api/begin_prompt_search',
                    type: 'POST',
                    data: JSON.stringify({
                        search_set_uuid: datauuid,
                        document: "{{ document.path }}"
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        console.log(data);
                        hideWorking();
                        $('#prompt-search-results-panel').show();
                        $('#prompt-search-results-panel').empty();
                        $(data.template).hide().appendTo('#prompt-search-results-panel').fadeIn();
                        addResultListeners();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        console.log(thrownError);
                    }
                });
            }
        }

        function addResultListeners() {
            $('#prompt-set-close-button').on("click", function () {
                location.reload();
            });
            
            $('#rerun-prompt').on("click", function () {
                let uuid = $(this).attr("data-uuid");
                let datatitle = $(this).attr("data-title");
                performPromptSearch(uuid, datatitle);
            });

            $('#export-prompt').on("click", function (e) {
                e.preventDefault();
                searchDict = createSearchTermDictionary();

                var form = $('<form>', {
                    'action': '/export_extraction',
                    'method': 'GET'
                });

                $.each(searchDict, function (key, value) {
                    form.append($('<input>', {
                    'type': 'hidden',
                    'name': key,
                    'value': value
                    }));
                });

                form.append($('<input>', {
                    'type': 'hidden',
                    'name': 'pdf_title',
                    'value': $('#document-title')[0].innerText
                }));

                $('body').append(form);
                form.submit();
            });

            $('.prompt-result').on("click", function () {
                // get text content
                searchTerm = $(this).text();
                highlightTerms = [searchTerm];
                    
                showToast();
                navigator.clipboard.writeText(searchTerm);
                console.log(searchTerm);

                renderPDF();
                setTimeout(function() {
                    console.log("showing next");
                    nextHighlight();
                }, 500);
            });
        }

        function updateSearchSetPanel(set_uuid) {
            $.ajax({
                url: '/api/search_results',
                type: 'POST',
                data: JSON.stringify({
                    search_set_uuid: set_uuid,
                    document_uuid: document_uuid
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (data) {
                    $('#prompt-search-results-panel').show();
                    $('#prompt-search-results-panel').empty();
                    $(data.template).hide().appendTo('#prompt-search-results-panel').fadeIn();
                    addResultListeners();
                    
                    
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }


        $('#add-prompt-term-input').on('keyup', function(e) {
            if (e.key === 'Enter') {
                if (prompt_set_add_uuid != "") {
                    addPromptSetItem();
                return;
            } else {
                showToast("Please select an prompt group to add to");
            }
            }
        });

        $('#add-prompt-term-button').on("click", function () {
            if (prompt_set_add_uuid != "") {
                addPromptSetItem();
                return;
            } else {
                showToast("Please select an prompt group to add to");
            }
        });

        function addPromptSetItem () {
            console.log("Adding prompt term");
            console.log($("#add-prompt-term-input")[0].value);
            $.ajax({
                url: '/api/add_search_term',
                type: 'POST',
                data: JSON.stringify({
                    search_set_uuid: prompt_set_add_uuid,
                    term: $("#add-prompt-term-input")[0].value,
                    space_id: "{{ current_space_id }}",
                    searchtype: "prompt"//$('#segment-1')[0].checked ? "search" : "extraction"
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (msg) {
                    if (msg.complete == false) {
                        showToast(msg.error);
                        return;
                    }
                    // reload page
                    $('.set-result-items').append(msg.template);
                    $("#add-prompt-term-input")[0].value = "";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        $('#add-prompt-set-input').on('keyup', function(e) {
            if (e.key === 'Enter') {
                console.log("triggering click");
                $('#add-prompt-set-button').click();
            }
        });

        $("#add-prompt-set-button").on("click", function () {
            $.ajax({
                url: '/api/add_search_set',
                type: 'POST',
                data: JSON.stringify({
                    title: $("#add-prompt-set-input")[0].value,
                    space_id: "{{ current_space_id }}",
                    search_type: "prompt"
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (msg) {
                    // reload page
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        });

        
    });
</script>