MONGO_HOST=mongodb://localhost:27018/
MONGO_DB=osp
REDIS_HOST=localhost
JWT_SECRET_KEY=change-me-to-a-random-secret
UPLOAD_DIR=../app/static/uploads
FRONTEND_URL=http://localhost:5173
ENVIRONMENT=development
