<script>
  var is_adding_term = false;
  var search_set_add_uuid = "";
  var attachments = [];

  function showToast(message) {
    var x = document.getElementById("snackbar");
    if (message) {
      x.innerText = message;
    } else {
      x.innerText = "Copied to clipboard";
    }
    x.className = "show";
    setTimeout(function () {
      x.className = x.className.replace("show", "");
    }, 3000);
  }

  // LOADING
  function showWorking() {
    $("#navbar-img")[0].classList.add("spin");
  }

  function hideWorking() {
    $("#navbar-img")[0].classList.remove("spin");
  }
  


  // TAB MENU
  const tabMenu = document.querySelector(".tab-menu");
  const tabMenuItems = tabMenu.querySelectorAll("li");

  tabMenuItems.forEach((item) => {
    item.addEventListener("click", function () {
      tabMenuItems.forEach((item) => item.classList.remove("active"));
      this.classList.add("active");
      $(".search-results-panel").hide();
      $(".tab-content").hide();
      $(".bottom-toolbar").hide();
      var tabTitle = $(this).text();
      setSection(tabTitle);
      $("#tasks-panel").hide();

      if (tabTitle == "Extract") {
        $("#extraction-panel").show();
        $("#bottom-toolbar-extraction").show();
      } else if (tabTitle == "Prompt") {
        $("#prompt-panel").show();
        $("#bottom-toolbar-prompt").show();
      } else if (tabTitle == "Chat") {
        $("#chat-panel").show();
        $("#bottom-toolbar-chat").show();
      } else if (tabTitle == "Workflows") {
        $("#workflows-panel").show();
        $("#bottom-toolbar-add-workflows").show();
      } else if (tabTitle == "Tasks") {
        $("#chat-panel").show();
        $("#tasks-panel").show();
        $("#bottom-toolbar-tasks").show();
      }
    });
  });

  $(document).ready(function () {
    // ADD ATTACHMENT
    $("#add-attachment-button").on("click", function () {
      $("#attachmentModal").show();
      let uuid = $(this).attr("data-uuid");

      $("#attachBtn")
        .off("click")
        .on("click", function () {
          let attachment = $("#attachmentText")[0].value;
          $("#attachmentModal").hide();
          attachments.push(attachment);
          updateAttachmentUI();
          $("#attachmentText")[0].value = "";
        });
    });

    $("#add-new_workflow-button").on("click", function () {
      $("#newWorkflowModal").show();

      $("#newWorkflowBtn")
        .off("click")
        .on("click", function () {
          createNewWorkflow();
          $("#newWorkflowModal").hide();
        });
    });

    var newTaskType = "";

    $("#add-new-task-button").on("click", function () {
      $("#newTaskModal").show();
      $(".add-task-container").show();
      $(".name-add-task-container").hide();
      $("#name-add-task-prompt-container").hide();
      $("#newTaskBtn").hide();
      $('#newTaskPromptName')[0].value = "";
      $('#newTaskPrompt')[0].value = "";
      newTaskType = "";

      $("#add-extraction-task-btn")
        .off("click")
        .on("click", function () {
          console.log("here");
          newTaskType = "extraction";
          $("#add-task-container").hide();
          $("#name-add-task-container").show();
          $("#newTaskBtn").show();
        });

      $("#add-prompt-task-btn")
        .off("click")
        .on("click", function () {
          newTaskType = "prompt";
          $("#add-task-container").hide();
          $("#name-add-task-prompt-container").show();
          $("#newTaskBtn").show();
        });

      $("#add-formatter-task-btn")
        .off("click")
        .on("click", function () {
          newTaskType = "formatter";
          $("#add-task-container").hide();
          $("#name-add-task-prompt-container").show();
          $("#newTaskBtn").show();
        });

      $("#newTaskBtn")
        .off("click")
        .on("click", function () {
          createTask();
          $("#newTaskModal").hide();
        });
    });

    function createTask() {
      if (newTaskType == "extraction") {
        let title = $("#newTaskName")[0].value;
        if (title == "" || newTaskType == "") {
          return;
        }
        addSearchSet(title, newTaskType);
      } else if (newTaskType == "prompt" || newTaskType == "formatter") {
        let title = $("#newTaskPromptName")[0].value;
        let prompt = $("#newTaskPrompt")[0].value;

        addPrompt(title, prompt, newTaskType);
      }
    }

    function createNewWorkflow() {
      const data = JSON.stringify({
        name: $("#newWorkflowName")[0].value,
        description: $("#newWorkflowDescription")[0].value,
        space_id: "{{ current_space_id }}",
      });
      $.ajax({
        url: "/api/create_workflow",
        type: "POST",
        data: data,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: true,
        success: function (msg) {},
        error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr.status);
          console.log(thrownError);
        },
      });
    }

    // PERFORM SEARCH
    function performSemanticSearch(term) {
      $.ajax({
        url: "/api/semantic_search",
        type: "POST",
        data: JSON.stringify({
          search_term: $("#add-search-term-input")[0].value,
          document_uuids: document_uuids,
          space_id: "{{ current_space_id }}",
        }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: true,
        success: function (msg) {
          searchTerm = term;
          highlightTerms = [term];
          documents = msg.results.documents[0];
          highlightTerms = documents;

          renderPDF();
          setTimeout(function () {
            nextHighlight();
          }, 500);
        },
        error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr.status);
          console.log(thrownError);
        },
      });
    }

    $(".set-item").on("click", function () {
      let uuid = $(this).attr("data-uuid");
      let datatitle = $(this).attr("data-title");
      //performSearch(uuid, datatitle);
      search_set_add_uuid = uuid;
      updateSearchSetPanel(uuid);
      performExtraction(uuid);
    });

    $(".prompt-item").on("click", function () {
      let uuid = $(this).attr("data-uuid");
      let datatitle = $(this).attr("data-title");

      if (document_uuids != "") {
        $("#tasks-panel").hide();

        let data = JSON.stringify({
          uuid: uuid,
        });

        $.ajax({
          url: "/api/fetch_search_set_item",
          type: "POST",
          data: data,
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          async: true,
          success: function (data) {
            performChat(
              document_uuids,
              data.prompt,
              folder_uuid,
              "",
              (display_question = datatitle),
            );
          },
          error: function (xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(thrownError);
          },
        });

        return;
      } else {
        showToast("Select a document to chat");
      }
    });

    function performExtraction(search_set_uuid) {
      console.log("PERFORM EXTRACTION");

      if (document_uuids == null || document_uuids == "") {
        showToast("Please select a document");
        return;
      }

      showScanning();

      showWorking();
      let data = JSON.stringify({
        search_set_uuid: search_set_uuid,
        document_uuids: document_uuids,
      });

      $.ajax({
        url: "/api/begin_search",
        type: "POST",
        data: data,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: true,
        success: function (data) {
          hideWorking();
          stopScanning();
          $("#search-results-panel").show();
          $("#search-results-panel").empty();
          $(data.template).hide().appendTo("#search-results-panel").fadeIn();
          addResultListeners();
        },
        error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr.status);
          console.log(thrownError);
        },
      });
    }

    function performSearch(search_set_uuid, datatitle) {
      showScanning();
      

      search_set_add_uuid = search_set_uuid;
      $("#adding-search-set-title").text(datatitle);
      if (is_adding_term) {
        $("#adding-search-set-title").text(datatitle);
      } else {
        updateSearchSetPanel(search_set_uuid);

        if (document_uuids == null || document_uuids == "") {
          showToast("Please select a document");
          return;
        }

        showWorking();
        let data = JSON.stringify({
          search_set_uuid: search_set_uuid,
          document_uuids: document_uuids,
        });

        $.ajax({
          url: "/api/begin_search",
          type: "POST",
          data: data,
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          async: true,
          success: function (data) {
            hideWorking();
            stopScanning();
            $("#search-results-panel").show();
            $("#search-results-panel").empty();
            $(data.template).hide().appendTo("#search-results-panel").fadeIn();
            addResultListeners();
          },
          error: function (xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(thrownError);
          },
        });
      }
    }

    function addResultListeners() {
      $("#add-term-button").on("click", function () {
        if (search_set_add_uuid != "") {
          addSearchSetItem();
          return;
        } else {
          showToast("Please select an extraction group to add to");
        }
      });

      $("#run-term-button").on("click", function () {
        let uuid = $(this).attr("data-uuid");
        performExtraction(uuid);
      });

      $("#set-close-button").on("click", function () {
        location.reload();
      });
      $(".semantic-entry").on("click", function () {
        searchTerm = $(this).attr("data-title");
        performSemanticSearch(searchTerm);
      });

      $("#rerun").on("click", function () {
        $("#semantic-panel").hide();
        let uuid = $(this).attr("data-uuid");
        let datatitle = $(this).attr("data-title");
        performSearch(uuid, datatitle);
      });

      $("#renameset").on("click", function () {
        let uuid = $(this).attr("data-uuid");
        let data_title = $(this).attr("data-title");
        renameSearchSet(uuid, data_title);
      });

      $("#clone").on("click", function () {
        let uuid = $(this).attr("data-uuid");
        cloneSearchSet(uuid);
      });

      $("#delete-extraction-set").on("click", function () {
        let uuid = $(this).attr("data-uuid");
        deleteSearchSet(uuid);
      });

     

      $(".delete-set-item-button").on("click", function (e) {
        e.preventDefault();
        let uuid = $(this).attr("data-uuid");
        deleteSearchSetItem(uuid);
      });

      $("#editset").on("click", function () {
        let uuid = $(this).attr("data-uuid");
        updateSearchSetPanel(uuid, true);
      });

      

      $(".collapsible-pdf").click(function () {
        $(this).toggleClass("active");
        console.log("Collapsible");
        var content = $(this).next(".fillable-pdf-content");
        content.slideToggle("fast");
      });

      $("#fillable-pdf-button").click(function () {
        $("#fillable-pdf-input").click();
      });

      $("#fillable-pdf-input").change(function () {
        var file = this.files[0];
        var formData = new FormData();
        formData.append("file", file);
        formData.append("search_set_uuid", search_set_add_uuid);
        showFillableDocLoading();
        $.ajax({
          url: "/upload_fillable_pdf",
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            location.reload();
          },
          error: function (jqXHR, textStatus, errorMessage) {
            alert("File upload failed: " + errorMessage);
          },
        });
      });

      $("#export").on("click", function (e) {
        e.preventDefault();
        searchDict = createSearchTermDictionary();
        console.log("Exporting");
        var form = $("<form>", {
          action: "/export_extraction",
          method: "GET",
        });

        $.each(searchDict, function (key, value) {
          form.append(
            $("<input>", {
              type: "hidden",
              name: key,
              value: value,
            }),
          );
        });

        form.append(
          $("<input>", {
            type: "hidden",
            name: "pdf_title",
            value: $("#document-title")[0].innerText,
          }),
        );

        $("body").append(form);
        form.submit();
      });

      $("#download-fillable").on("click", function (e) {
        e.preventDefault();
        searchDict = createSearchTermDictionary();
        console.log("Exporting");
        var form = $("<form>", {
          action: "/download_fillable",
          method: "GET",
        });

        $.each(searchDict, function (key, value) {
          form.append(
            $("<input>", {
              type: "hidden",
              name: key,
              value: value,
            }),
          );
        });

        form.append(
          $("<input>", {
            type: "hidden",
            name: "search_set_uuid",
            value: search_set_add_uuid,
          }),
        );

        $("body").append(form);
        form.submit();
      });

      $("#submit-comment").on("click", function () {
        rating = getRating();
        searchDict = createSearchTermDictionary();

        $.ajax({
          url: "/submit_rating",
          type: "POST",
          data: JSON.stringify({
            pdf_title: $("#document-title")[0].innerText,
            rating: rating,
            comment: $("#comment-input")[0].value,
            result_json: searchDict,
          }),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          async: true,
          success: function (msg) {
            // reload page
            location.reload();
          },
          error: function (xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(thrownError);
          },
        });
      });

      $(".extraction-result").on("click", function () {
        // get text content
        searchTerm = $(this).text();
        highlightTerms = [searchTerm];

        showToast("Copied to clipboard");
        navigator.clipboard.writeText(searchTerm);

        renderPDF();
        setTimeout(function () {
          nextHighlight();
        }, 500);
      });
    }

    function updateSearchSetPanel(set_uuid, edit_mode = false) {
      console.log("Performing search");
      console.log(document_uuids);
      $.ajax({
        url: "/api/search_results",
        type: "POST",
        data: JSON.stringify({
          search_set_uuid: set_uuid,
          document_uuids: document_uuids,
          edit_mode: edit_mode,
        }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: true,
        success: function (data) {
          $("#search-results-panel").show();
          $("#search-results-panel").empty();
          $(data.template).hide().appendTo("#search-results-panel").fadeIn();
          addResultListeners();
        },
        error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr.status);
          console.log(thrownError);
        },
      });
    }

    $("#add-search-term-input").on("keyup", function (e) {
      if (e.key === "Enter") {
        if (search_set_add_uuid != "") {
          addSearchSetItem();
          return;
        } else {
          showToast("Please select an extraction group to add to");
        }
      }
    });

    function addSearchSetItem() {
      $.ajax({
        url: "/api/add_search_term",
        type: "POST",
        data: JSON.stringify({
          search_set_uuid: search_set_add_uuid,
          term: $("#add-search-term-input")[0].value,
          space_id: "{{ current_space_id }}",
          searchtype: "extraction", //$('#segment-1')[0].checked ? "search" : "extraction"
        }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: true,
        success: function (msg) {
          if (msg.complete == false) {
            showToast(msg.error);
            return;
          }

          $(".set-result-items").append(msg.template);
          $("#add-search-term-input")[0].value = "";
        },
        error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr.status);
          console.log(thrownError);
        },
      });
    }

    function addPrompt(title, prompt, prompt_type) {
      $.ajax({
        url: "/api/add_prompt",
        type: "POST",
        data: JSON.stringify({
          title: title,
          prompt: prompt,
          space_id: "{{ current_space_id }}",
          prompt_type: prompt_type,
        }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: true,
        success: function (msg) {
          if (msg.complete == false) {
            showToast(msg.error);
            return;
          }

          location.reload();
        },
        error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr.status);
          console.log(thrownError);
        },
      });
    }

    $("#add-search-set-input").on("keyup", function (e) {
      if (e.key === "Enter") {
        $("#add-search-set-button").click();
      }
    });

    $("#add-search-set-button").on("click", function () {
      addSearchSet($("#add-search-set-input")[0].value, "extraction");
    });

    function addSearchSet(title, category) {
      $.ajax({
        url: "/api/add_search_set",
        type: "POST",
        data: JSON.stringify({
          title: title,
          space_id: "{{ current_space_id }}",
          search_type: category,
        }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: true,
        success: function (msg) {
          search_set_add_uuid = msg.uuid;
          updateSearchSetPanel(msg.uuid);
        },
        error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr.status);
          console.log(thrownError);
        },
      });
    }

    $("#semantic-search-button").on("click", function (e) {
      e.preventDefault();
      performSemanticSearch($("#add-search-term-input")[0].value);
    });

    $("#next-semantic-button").on("click", function (e) {
      e.preventDefault();
      nextHighlight();
    });

    $(document).on("keyup", function (e) {
      if (e.key === "ArrowRight") {
        nextHighlight();
      }
    });

    function nextHighlight() {
      current_search_item += 1;
      if (current_search_item >= highlights.length) {
        current_search_item = 0;
      }

      updateHighlights();
    }

    $("#prev-semantic-button").on("click", function (e) {
      e.preventDefault();
      previousHighlight();
    });

    $(document).on("keyup", function (e) {
      if (e.key === "ArrowLeft") {
        previousHighlight();
      }
    });

    function previousHighlight() {
      current_search_item -= 1;
      if (current_search_item == -1) {
        current_search_item = highlights.length - 1;
      }

      updateHighlights();
    }

    function updateHighlights() {
      highlights = $(".highlight");

      highlights[current_search_item].scrollIntoView({
        behavior: "smooth",
        block: "center",
        inline: "nearest",
      });
      $("#semantic-panel-count").text(
        current_search_item + 1 + " of " + highlights.length,
      );
      for (var i = 0; i < highlights.length; i++) {
        highlights[i].style.backgroundColor = "yellow";
        highlights[i].style.opacity = 0.5;
      }

      highlights[current_search_item].style.backgroundColor = "red";
    }

    function getRating() {
      const ratingInputs = document.querySelectorAll('input[name="rate"]');
      let selectedValue;

      for (const input of ratingInputs) {
        if (input.checked) {
          selectedValue = input.value;
          break;
        }
      }

      return selectedValue;
    }

    function createSearchTermDictionary() {
      const searchTermDictionary = {};
      let searchItems = $(".set-result-items").children();
      searchItems.each(function () {
        const searchPhrase = $(this).find(".set-title").text().trim();
        const result = $(this).find(".extraction-result").text().trim();
        searchTermDictionary[searchPhrase] = result;
      });

      return searchTermDictionary;
    }
  });
</script>
