<div id="workflowEditStepModal" class="workflow-overlay" style="display: block;">
    <div class="workflow-modal-content">
        <h2 class="workflow-modal-header ">
        <span class="">{{ workflow_step.name }}</span>
        <a id="closeWorkflowStepBtn" style="float:right; color: #88888899; cursor: pointer; font-weight: 200;"><i class="fa-regular fa-pen-to-square"></i></a>
        </h2>
        
        <!-- Description -->
        <hr>
        <h3 class="workflow-modal-subtitle">Build this step of the workflow</h3>
        <hr style="padding-bottom: 0px; margin-bottom: 0px;">

        <!-- Tabbed navigation -->
        <label class="workflow-label" style="padding: 15px 30px;">Basic Setup</label>

        <div class="workflow-content-body">
            <div class="workflow-container" style="overflow: hidden; padding: 30px;">
                <div class="workflow-step-add-tasks-panel">
                    {% for step in workflow_step.tasks %}
                    <div class="workflow-step">
                        <div class="step-content">
                            <div class="add-task-icon-container">
                                {{ step.data.name }}
                                {% if step.name == "Extraction" %}
                                <i class="fa-regular fa-filter" style="font-size: 24px; color: #D44C4C;"></i>
                                {% elif step.name == "Prompt" %}
                                <i class="fa-solid fa-i-cursor" style="font-size: 24px; color: #70B5D2;"></i>
                                {% elif step.name == "Format" %}
                                <i class="fa-regular fa-outdent"  style="font-size: 24px; color: #5DBB54;"></i>
                                {% elif step.name == "Document" %}
                                <i class="fa-regular fa-file-circle-plus"  style="font-size: 24px; color: #191919;"></i>
                                {% else %}
                                <i class="fa-regular fa-outdent"  style="font-size: 24px; color: #5DBB54;"></i>
                                {% endif %}
                            </div>
                            <div class="step-header">
                                {% if step.name == "Extraction" %}
                                <span>Extract Information</span>
                                {% elif step.name == "Prompt" %}
                                <span>Prompt</span>
                                {% elif step.name == "Formatter" %}
                                <span>Formatter</span>
                                {% elif step.name == "Document" %}
                                <span>Add Document(s)</span>
                                {% endif %}
                                {% if step.name == "Extraction" %}
                                    
                                <span class="item-info">
                                    {% if step.data.search_set_title %}
                                    {{ step.data.search_set_title }}
                                    {% else %} 
                                    Custom Extraction
                                    {% endif %}
                                    <i>{{ step.extraction_items()|length }} items</i>
                                </span>
                                {% elif step.name == "Prompt" or step.name == "Formatter" %}
                                <span class="item-info">
                                    {% if "search_set_item_title" in step.data %}
                                    {{ step.data["search_set_item_title"] }}
                                    {% else %}
                                    Run Custom prompt
                                    {% endif %}
                                </span>
                                {% else %}
                                <span class="item-info"></span>
                                {% endif %}
                            </div>
                        
                            <span class="workflow-loader" style="display: none;"></span>
                            <div class="step-icon edit-workflow-step-btn" data-step-id="{{ step.id }}" data-step-type="{{ step.name|lower }}">
                                <i class="fa-solid fa-sliders" style="font-size: 18px; font-weight: 300; color: #46464681;"></i>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    <div class="workflow-add-step" data-workflow-step-id="{{ workflow_step_id }}" style="padding: 0px;">
                        <div class="step-content" style="background-color: transparent;">
                            <div class="add-task-icon-container" style="background-color: rgba(181, 181, 181, 0.163);">
                                <i class="fa-solid fa-plus"  style="font-size: 18px;"></i>
                            </div>
                            <div class="step-header">
                                {% if workflow_step.tasks|length > 0 %}
                                <span>ADD A TASK</span>
                                {% else %}
                                <span>ADD YOUR FIRST TASK</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bottom-toolbar" style>
            <div>
                <!-- Action buttons -->
                <div style="padding: 0px; margin: 0 auto; display: flex; justify-content: center; gap: 15px;">
                    <button id="deletePromptToWorkflowBtn" class="btn btn-secondary" style="background-color: red; flex-grow: 1;">Delete Step</button>
                    <button id="confirmWorkflowStepModalStepBtn" class="btn btn-primary" style="flex-grow: 1;">DONE</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        

        $('#closeWorkflowStepBtn').on("click", function (e) {
            e.preventDefault();  // Prevent default behavior, if needed
            $('#workflowEditStepModal').remove();
        });

        $('#confirmWorkflowStepModalStepBtn').on("click", function (e) {
            e.preventDefault();  // Prevent default behavior, if needed
            $('#workflowEditStepModal').remove();
        });

        $('#deletePromptToWorkflowBtn').on("click", function (e) {
            e.preventDefault();  // Prevent default behavior, if needed
            console.log("clicked");
            let data = JSON.stringify({
                workflow_step_id: "{{ workflow_step_id }}"
            });

            $.ajax({
                url: `/api/workflow/delete_step`,
                type: 'POST',
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        });

        $(".workflow-add-step")
            .off("click")
            .on("click", function () {
                let workflow_step_id = $(this).attr("data-workflow-step-id");
                workflowAddStepTask(workflow_step_id);
            });


            function workflowAddStepTask(workflow_step_id) { 
        let data = JSON.stringify({
            workflow_id: current_workflow_id,
            space_id: current_space_id,
            workflow_step_id: workflow_step_id
        });
        
        $.ajax({
            url: `/api/workflows/step/add_task`,
            type: 'POST',
            data: data,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function (data) {
                $(data.template).hide().appendTo('.search-results-panel').fadeIn();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }
    </script>
</div>
