<form action="/files/create_folder" method="post" id="add-form" class="menu-anchor">
    <input type="hidden" name="space_id" value="{{ current_space_id }}">
    <input type="hidden" name="parent_id" value="{{ current_folder_id }}">
    <input type="text" id="add-folder-field" name="name" class="sr-only" tabindex="-1" aria-hidden="true">

    <input type="file" id="file-input" class="sr-only" multiple
        accept=".doc,.docx,.xls,.xlsx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">

    <button type="button" id="add-button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false"
        data-menu="#add-menu">
        + Add
    </button>

    <div id="add-menu" class="menu" role="menu" hidden>
        <button type="button" class="menu-item" role="menuitem" data-action="new-folder">
            <i class="fa-solid fa-folder" style="width:18px;"></i> New Folder
        </button>
        <button type="button" class="menu-item" role="menuitem" data-action="trigger-file-input">
            <i class="fa-solid fa-upload" style="width:18px;"></i> Upload Files
        </button>
    </div>
</form>