<div class="menu-anchor" style="float:right; margin-top: 25px;">
    <button class="btn btn-secondary" id="userDropdown" aria-haspopup="true" aria-expanded="false"
        data-menu="#user-menu">
        <i class="fa-solid fa-user" style="margin-right:6px"></i>{{ current_team.name or "Account" }}
    </button>

    <div id="user-menu" class="menu menu-right" role="menu" hidden>

        {% for team_membership in my_teams %}
        {% set is_active = current_team and (team_membership.team.id == current_team.id) %}
        <a class="menu-item" role="menuitem"
            href="{{ url_for('team.team_switch', team_uuid=team_membership.team.uuid, next=request.full_path or request.path) }}">
            <i class="fa-solid fa-users" style="width:18px;"></i> {{ team_membership.team.name }}
            {% if is_active %}
            <span style="font-size: 11px; color: #36c; margin-left:8px;">(current)</span>
            {% endif %}
        </a>
        {% endfor %}

        <hr class="menu-divider">

        <a class="menu-item" role="menuitem"
            href="{{ url_for('team.team_index', next=request.full_path or request.path) }}">
            <i class="fa-solid fa-gear" style="width:18px;"></i> Manage teams
        </a>

        {% if current_user.is_admin_current_team %}
        <!-- <hr class="menu-divider">

        <a class="menu-item" role="menuitem" href="/admin/teams">
            <i class="fa-solid fa-shield-halved" style="width:18px;"></i> Admin: Teams
        </a> -->

        <hr class="menu-divider">

        <a class="menu-item" role="menuitem" href="/admin/usage">
            <i class="fa-solid fa-shield-halved" style="width:18px;"></i> Admin: Reports
        </a>
        {% endif %}

        {% if current_user.is_admin %}
        <a class="menu-item" role="menuitem" href="/admin/config">
            <i class="fa-solid fa-sliders" style="width:18px;"></i> System Configuration
        </a>
        {% endif %}

        {% if current_user.is_examiner %}
        <hr class="menu-divider">

        <a class="menu-item" role="menuitem" href="/library/manage_verified">
            <i class="fa-solid fa-clipboard-check" style="width:18px;"></i> Verification Management
        </a>
        {% endif %}

        <hr class="menu-divider">

        <a class="menu-item" role="menuitem" href="/logout">
            <i class="fa-solid fa-right-from-bracket" style="width:18px;"></i> Logout
        </a>
    </div>
</div>