<script>
    var askingDocument = '';
    var document_uuids = [];
    var maxContextLength = parseInt("{{max_context_length}}");

    {% if (documents != None) and documents | length > 0 %}
    var documentData = {
        id: "{{ documents[0].id|safe }}",
        title: "{{ documents[0].title|safe }}",
        raw_text: {{ documents[0].raw_text| tojson | safe }}
    };
    {% else %}
    const documentData = null;
    {% endif %}

    var folder_uuid = "{{current_folder_id}}"
    var isProcessingFile = false;
    var processingFileOriginalText = "";


    document_uuids = [
        {% for document in documents %}
    "{{document.uuid}}",
        {% endfor %}
    ];

    function dismissReleasePanel() {
        // Set a cookie 'release_seen' to the current release version.
        var d = new Date();
        // Cookie will expire in 30 days.
        d.setTime(d.getTime() + (30 * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = "release_seen={{ current_release }}; " + expires + "; path=/";
        // Hide the release panel immediately.
        document.getElementById('release-panel').style.display = 'none';
    }

    function addDocId(docId) {
        const url = new URL(window.location.href);
        url.searchParams.set('docid', docId);
        window.location.href = url.toString();
    }

    function addFolderId(folder_id) {
        const url = new URL(window.location.href);
        url.searchParams.set('folder_id', folder_id);
        window.location.href = url.toString();
    }

    function removeDocIdAndGo() {
        const url = new URL(window.location.href);
        url.searchParams.delete('docid');
        window.location.href = url.toString();
    }

    function showRawText() {
        console.log("show raw text", documentData);
        // Get the current document
        if (documentData) {
            const modal = document.getElementById("rawTextModal");
            const rawText = documentData.raw_text;
            const rawTextContent = document.getElementById("rawTextContent");
            rawTextContent.textContent = rawText;
            $('#rawTextModal').show();
        }
    }
    $("#closeRawTextModalBtn").on('click', function () {
        $('#rawTextModal').hide();
    });

    function setSection(sectionName) {
        // Use the tabTitle variable as needed
        let href = window.location.href;
        const qs = new URLSearchParams(href.split("?")[1]);
        qs.delete("section");
        qs.append("section", sectionName);
        const newQs = qs.toString();
        const newhref = `/home?${newQs}`;
        window.history.pushState({}, "", newhref);
    }

    function updateDocumentSelections() {
        var checkedCheckboxes = $('.document-selector:checked');
        console.log("Updating document selections", checkedCheckboxes);
        var totalDocs = 0;
        // var totalTokenCounts = 0;
        var uuids = [];

        for (var i = 0; i < checkedCheckboxes.length; i++) {
            let checkbox = checkedCheckboxes[i];
            if (checkbox.attributes['data-num-documents'] == undefined) {
                continue;
            }
            var numDocs = checkbox.attributes['data-num-documents'].value

            // totalTokenCounts += parseInt(checkbox.attributes['data-token-count'].value);

            if (checkbox.attributes['data-doc-uuid'] != undefined) {
                uuids.push(checkbox.attributes['data-doc-uuid'].value);
            }

            if (checkbox.attributes['data-doc-uuids'] != undefined) {
                let uuidList = checkbox.attributes['data-doc-uuids'].value;
                let array = JSON.parse(uuidList.replace(/'/g, '"'));
                uuids = uuids.concat(array);
            }
        }

        // Check for docid in the browser's current URL
        let currentUrl = window.location.href;
        if (currentUrl.includes('docid=')) {
            let urlParams = new URLSearchParams(currentUrl.split('?')[1]);
            let docid = urlParams.get('docid');
            if (docid) {
                uuids.push(docid);
            }
        }

        console.log("Reset uuids: " + uuids.length);
        totalDocs += uuids.length;
        document_uuids = uuids;

        var contextLengthWarning = `
                                    <span class="token-warning">&#9888; <span class="tooltiptext">Token count exceeds max context length, an advanced model will be used instead.</span></span>
        `

        var counters = $('.doc-selected-counter')
        for (var i = 0; i < counters.length; i++) {
            if (totalDocs == 0) {
                counters[i].textContent = `Select documents to begin`;
            } else if (totalDocs == 1) {
                // counters[i].textContent = `${totalDocs} document selected (${totalTokenCounts} tokens)`;
                counters[i].textContent = `${totalDocs} document selected`;


            } else {
                // counters[i].textContent = `${totalDocs} documents selected (${totalTokenCounts} tokens)`;
                counters[i].textContent = `${totalDocs} documents selected`;
            }
            // if (totalTokenCounts > maxContextLength) {
            //     counters[i].innerHTML += contextLengthWarning;
            // }
        }
    }

    console.log("Document UUIDs", document_uuids);

    $('#ask-question-btn').on('click', function (e) {
        e.preventDefault()
        let question = $('#ask-question-input')[0].value;
        askQuestion(question);
    });

    function askQuestion(question) {
        // Call API to get answer
        if (askingDocument != '') {
            askDocumentQuestion(question);
            return;
        }

        openChatWindow();
        showChatLoading();
        $.ajax({
            url: '/api/ask',
            type: 'POST',
            data: JSON.stringify({
                question: question,
                model: 'gpt-4o',
                space: $('#current-space-id')[0].innerHTML
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function (msg) {
                let answer = msg.answer;
                $('#ask-question-input')[0].value = ''
                openChatWindow();
                removeChatLoading();
                $('.chat-window').append(`
                <div class="answer-card" style="padding: 30px; ">
                    <p style="font-size: 30; color: #5D6F81;">
                        Question: <i>${isProcessingFile ? "Processing your document.." : question}</i>
                    </p>
                    <p style="font-size: 30; color: #5D6F81;">
                        ${answer}
                    </p>
                </div>
            `)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    function askDocumentQuestion(question) {
        // Call API to get answer
        showChatLoading();
        $.ajax({
            url: '/api/ask_document',
            type: 'POST',
            data: JSON.stringify({
                question: "Considering the document, answer this question: " + question,
                document: askingDocument,
                model: 'gpt-4o'
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function (msg) {
                let answer = msg.answer;
                $('#ask-question-input')[0].value = ''
                openChatWindow();
                removeChatLoading();
                $('.chat-window').append(`
                <div class="answer-card" style="padding: 30px; ">
                    <p style="font-size: 30; color: #5D6F81;">
                        Asking ${askingDocument}: <i>${question}</i>
                    </p>
                    <p style="font-size: 30; color: #5D6F81;">
                        ${answer}
                    </p>
                </div>
            `)


            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    function askDocument(documentName) {
        $('#ask-question-input').attr("placeholder", "Ask " + documentName + " a question...");
        askingDocument = documentName;
    }

    function cloneSearchSet(uuid) {
        $.ajax({
            url: '/tasks/clone_search_set',
            type: 'POST',
            data: JSON.stringify({
                search_set_uuid: uuid
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function (msg) {
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });

    }

    function renameSearchSet(uuid, title) {
        $.ajax({
            url: '/tasks/rename_search_set',
            type: 'POST',
            data: JSON.stringify({
                search_set_uuid: uuid,
                new_title: title
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function (msg) {
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    function deleteSearchSet(uuid) {
        $.ajax({
            url: '/tasks/delete_search_set',
            type: 'POST',
            data: JSON.stringify({
                uuid: uuid
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function (msg) {
                location.href = "/home?section=Tasks"
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    function deleteSearchSetItem(uuid) {
        $.ajax({
            url: '/tasks/delete_search_set_item',
            type: 'POST',
            data: JSON.stringify({
                uuid: uuid
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function (msg) {
                // Get the set entry group with data-uuid equal to uuid and delete parent
                $(`.delete-set-item-button[data-uuid=${uuid}]`).parent().parent().parent().remove();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    function summarizeDocument(documentName) {
        showChatLoading();
        $.ajax({
            url: '/api/ask_document',
            type: 'POST',
            data: JSON.stringify({
                question: "Summarize the document text",
                document: documentName,
                model: 'gpt-4o'
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function (msg) {
                let answer = msg.answer;
                $('#ask-question-input')[0].value = ''
                openChatWindow();

                // Switch to document question mode
                $('#ask-question-input').attr("placeholder", "Ask " + documentName + " a question...");
                askingDocument = documentName;

                removeChatLoading();
                const newBox = $(`
                <div class="answer-card" style="padding: 30px; ">
                    <p style="font-size: 30; color: #5D6F81;">
                        SUMMARIZE: <i>${documentName}</i>
                    </p>
                    <p style="font-size: 30; color: #5D6F81;">
                        ${answer}
                    </p>
                </div>
            `).hide();
                $('.chat-window').append(newBox);

                //newBox.scrollIntoView();
                newBox.fadeIn();



            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    function showChatLoading() {
        $('#navbar-img')[0].classList.add('spin');
        $('.chat-window').append(`
        <div id="loading-area" style="display: flex; height: 100px;">
                <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>`);
    }

    function showFillableDocLoading() {
        $('#navbar-img')[0].classList.add('spin');
        $('#search-results-panel')[0].classList.add('scanning');
        $('#search-results-panel')[0].append(`Processing fillable PDF...This will take a few minutes`);
    }

    function removeChatLoading() {
        $('#navbar-img')[0].classList.remove('spin');
        $('.chat-window #loading-area').remove();
    }

    function showScanning() {
        if ($('.document-scanner')[0] == undefined) {
            return;
        }

        $('.document-scanner')[0].classList.add('scanning')
    }

    function stopScanning() {
        if ($('.document-scanner')[0] == undefined) {
            return;
        }

        $('.document-scanner')[0].classList.remove('scanning')
    }

    $('.rescan-button').on('click', function (e) {
        e.preventDefault()
        showScanning();
    });

    function updateAttachmentUI() {
        $('#attachment-list').empty();
        for (var i = 0; i < attachments.length; i++) {
            $('#attachment-list').append('<button style="float: left; padding: 5px 15px; font-size: 12px; font-weight: 600; margin-top: 15px;" class="shadow-button">Attachment</button>');
        }
    }

    var pollTimeout = null;
    var pollingActive = true;
    function pollStatus(docUuid) {
        if (!pollingActive) return;

        $.get('/files/poll_status', { docid: docUuid }, function (data) {
            if (data.complete) {

                // Processing is complete, update UI
                $('#loading-spinner').hide();
                $('#processing-indicator').hide();
                $('#raw-text-icon').show();
                isProcessingFile = false;

                if (processingFileOriginalText != "") {
                    $('.processing-file-text-question-holder').text(processingFileOriginalText);
                    $('.message-response').remove();
                    $('.message-you').remove();
                    chat(processingFileOriginalText);
                    processingFileOriginalText = "";
                }

                updateDocumentSelections();

                documentData = {
                    id: docUuid,
                    title: "",
                    raw_text: data.raw_text
                };

                // No additional refresh needed per the requirement
            } else {
                // Still processing, poll again after 5 seconds
                pollTimeout = setTimeout(function () {
                    pollStatus(docUuid);
                }, 5000);

                isProcessingFile = true;
            }
        });
    }


    $(document).ready(function () {
        var docContainer = $('.document-container');

        // Stop polling when the user navigates away from the page
        window.addEventListener('beforeunload', function () {
            pollingActive = false;
            if (pollTimeout) {
                clearTimeout(pollTimeout);
            }
        });

        // Check if the document container exists (i.e., a document is loaded)
        if (docContainer.length > 0) {
            var docUuid = docContainer.data('doc-uuid');
            var isProcessing = docContainer.data('processing');

            if (isProcessing) {
                // Show loading indicators
                $('#loading-spinner').show();
                $('#processing-indicator').show();
                // Hide regular content
                $('#raw-text-icon').hide();
                // Start polling
                pollStatus(docUuid);
            } else {
                // Show regular content
                $('#raw-text-icon').show();
            }
        }

        $('.tasks-btn').on('click', function (e) {
            e.preventDefault();
            $("#tasks-panel").show();
            setSection("Tasks");
        });

        $('.tasks-close-button').off('click').on('click', function (e) {
            e.preventDefault();
            console.log("here");
            setSection("Chat");
            $("#tasks-panel").hide();
        });

        // call this function to refresh the document selection on load
        updateDocumentSelections();

        $('.file').on('click', function (e) {
            e.stopPropagation();
            var checkbox = $(this).find('.document-selector');
            checkbox.prop('checked', !checkbox.prop('checked'));
            updateDocumentSelections();
        });

        $('.folder').on('click', function (e) {
            e.stopPropagation();
            var checkbox = $(this).find('.document-selector');
            checkbox.prop('checked', !checkbox.prop('checked'));
            updateDocumentSelections();
        });

        $('.document-selector').on('click', function (e) {
            e.stopPropagation();
            if ($(this)[0].attributes['data-doc-type'].value == 'all_folder') {
                var checked = $(this).prop('checked');
                if (checked == true) {
                    $('.document-selector').prop('checked', true);
                } else {
                    $('.document-selector').prop('checked', false);
                }
            }

            updateDocumentSelections();
        });





        $('.space-select').on('change', function (e) {
            e.preventDefault()
            var selectedOption = $(this).val();
            console.log(selectedOption);
            if (selectedOption == "Create New Space") {
                window.location.href = "/spaces/new";
            } else if (selectedOption == "New Space") {
                window.location.href = "/spaces/new";
            } else if (selectedOption == "Logout") {
                window.location.href = "/logout";
            } else {
                window.location.href = "/home?space_id=" + selectedOption;
            }
        });

        // When the user clicks on <span> (x), close the modal
        $('#closeRenameBtn').on('click', function () {
            $('#renameModal').hide();
        });

        $('#closeAttachBtn').on('click', function () {
            $('#attachmentModal').hide();
        });

        $('#closeNewWorkflowBtn').on('click', function () {
            $('#newWorkflowModal').hide();
        });

        $('#closeNewTaskBtn').on('click', function () {
            $('#newTaskModal').hide();
        });

        // When the user clicks anywhere outside of the modal, close it
        $(window).on('click', function (event) {
            if ($(event.target).is($('#renameModal'))) {
                $('#renameModal').hide();
            }
        });

        // $('#add-folder-button').on('click', function (e) {
        //     e.preventDefault()
        //     let addFolderField = $('#add-folder-field')[0];
        //     if (addFolderField.style.display == 'none') {
        //         $('#add-folder-field').show();
        //     } else {
        //         let addFolderForm = $('#add-folder-form')[0];
        //         addFolderForm.submit();
        //     }
        // });

        $('#add-folder-button').on('click', function (e) {
            e.preventDefault();
            var $form = $('#add-folder-form');
            var $field = $('#add-folder-field');
            if ($field.is(':hidden')) {
                $field.show();
                return; // Wait for the user to input a name
            }
            // Trigger the form's submit event via jQuery, so your handler runs
            $form.trigger("submit");
        });

        // Folder creation checks
        $("#add-folder-form").on("submit", function (event) {
            event.preventDefault(); // Intercept the submission
            console.log("Intercepting form submit");

            var folderName = $("#add-folder-field").val().trim();
            if (!folderName) {
                showToast("Folder name cannot be empty");
                return;
            }

            var folderExists = false;
            // Adjust the selector as needed if your folder name is not directly in .folder span
            $(".folder span").each(function () {
                if ($(this).text().trim().toLowerCase() === folderName.toLowerCase()) {
                    folderExists = true;
                    return false; // Break out of the loop
                }
            });

            if (folderExists) {
                showToast("Folder already exists");
                return;
            }

            // If validation passes, remove the submit handler and submit the form
            $(this).off("submit").submit();
        });
    });


</script>