{% extends "base.html" %} {%block title%}Review | Document Scanner{%endblock%} {% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />

{% endblock %} {% block styles %} {{super()}}

<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='rightpanel.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='leftpanel.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='datepicker.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='styles/loaders.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='styles/identify.css')}}" />


{% endblock %}

{% block navbar %}
<div style="display: none" id="current-space-id">{{ current_space_id }}</div>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a href="/">
        <img id="navbar-img" style="float: left; width: 25px; height: 40px; margin-top: 20px; "
            src="/static/images/joevandal.png">
        <img id="navbar-img" style="float: left; width: 200px; height: 50px; margin-top: 15px; "
            src="/static/images/vandalizer.png">
        </a>
    </div>

    <select class="custom-select" id="space-select" style="float: right; margin-top: 20px;">
        {% for space in spaces %}
        <option value="{{ space.uuid }}">{{ space.title }}</option>
        {% endfor %}

        <option value="Create New Space">
            <i>Create New Space</i>
        </option>
    </select>
    </div>
    <!-- /.container-fluid -->
</nav>

{% endblock %} {%block content %}

<div class="main-panel">

    <div class="left-panel">
        <div class="header">

            <div class="row" style="height:100%;">
                <div class="col-md-3" style="height:100%; padding-top: 7.5px;">
                    {% if (document != None) %}
                    <a style="padding-left: 30px; margin-top: 5px;" href="/">
                        <span style="font-size: 2em;  color: #687786;">
                            <i class="fa-solid fa-arrow-left"></i>
                        </span>
                    </a>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <p id="document-title"
                        style="text-align: center; padding-top: 15px; font-size: 18px; font-weight: 600; color: #465056;">
                        {% if (document != None) %}
                        {{ document.title }}</p>
                    {% else %}
                    Select or Upload PDFs</p>
                    {% endif %}
                </div>
                <div class="col-md-3" style="height:100%; padding-top: 7.5px; float: right;">


                </div>

            </div>

        </div>
        {% if (document != None) %}
        <div class="document" id="document"></div>
        <div class="semantic-panel" id="semantic-panel">
            <button class="shadow-button" id="prev-semantic-button" style="margin: 10px;">
                <span style="font-size: 1em; color: #f1b300;">
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
            </button>
            <span style="flex: 1;">
                <span style="font-weight: 700; font-size: 18px;" id="semantic-panel-term">Search term</span>
                <span style="font-weight: 400; margin-left: 5px; color: #00000041;" id="semantic-panel-count">num
                    results</span>
            </span>
            <button class="shadow-button" id="next-semantic-button" style="margin: 10px;">
                <span style="font-size: 1em; color: #5c21d2bc;">
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </button>
        </div>
        {% else %}
        <div class="file-selection" style="padding-top: 60px;">
            <div id="loading-area" style="margin: 0px auto; display: flex;">
                <div class="lds-grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <h5><i style="color: #dfdfdf;">Preparing Document</i></h5>
            </div>
            <div class="drag-area" id="drag-area">
                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <header style="padding: 0 15px; text-align: center;">Drag & Drop to Upload File</header>
                <input type="file" hidden style="display:none;">
                <div class="drop-area"
                    style="background-color: transparent; position: absolute; left: 0; right: 0; top: 0; bottom: 0;">

                </div>
            </div>
            <table class="styled-table" style="position: relative;
            margin: 60px;
            width: calc(100% - 120px);
            margin-top: 30px;
            padding: 60px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0px 23px -8px rgb(211, 211, 211);">
                <tbody id="doc-body">
                    {% for doc in docs %}
                    <tr>
                        <td><a href="?docid={{doc.uuid}}">{{ doc.title }}</a>
                            <a href="/delete_document?docid={{doc.uuid}}" style="float: right; color: red;">
                                <span style="font-size: 1em; color: #5c21d2bc;">
                                    <i class="fa-solid fa-trash"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}


    </div>
    <div class="right-panel">
        <div id="right-panel-content">
            <div class="tab-container">
                <ul class="tab-menu">
                    <li class="active"><i class="fas fa-file-alt"></i> Extract</li>
                    <li><i class="fas fa-keyboard"></i> Prompt</li>
                    <li><i class="fas fa-comments"></i> Chat</li>
                </ul>
                <div class="tab-content" id="extraction-panel">
                    <div id="search-set-panel" style="margin: 0px 30px 30px 30px; text-align: left;">
                        <p style="font-size: 24px; font-weight: 600;">Extraction Groups</p>
                        <div class="ask-question-container">
                            <div class="ask-question">
                                <input type="text" id="add-search-set-input"
                                    placeholder="Find or create a extraction set...">


                                <button class="add-button shadow-button" id="add-search-set-button">
                                    <span style="font-size: 2em; color: #5c21d2bc;">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="search-set-container" style="padding: 30px 0px;">
                            {% for search_set in extraction_sets %}
                            <div class="expandable-container">
                                <div class="set-item" data-uuid="{{ search_set.uuid }}"
                                    data-title="{{ search_set.title }}">
                                    <div class="set-content">
                                        <span style="float: left; font-size: 1em; color: #5c21d2bc;">
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </span>
                                        <p class="set-title"
                                            style="margin-left: 5px; padding: 0px 10px; float: left; font-weight: 500;">
                                            {{
                                            search_set.title }}</p>
                                        <p class="set-items" style="text-align: right; ">{{ search_set.item_count() }}
                                            items

                                        </p>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div style="display: none" class="search-results-panel" id="search-results-panel"
                        style="margin: 0px 30px 30px 30px; text-align: left;">
                    </div>
                </div>
                <div class="tab-content" id="prompt-panel" style="display: none;">
                    <div id="prompt-set-panel" style="margin: 0px 30px 30px 30px; text-align: left;">
                        <p style="font-size: 24px; font-weight: 600;">Prompt Groups</p>
                        <div class="ask-question-container">
                            <div class="ask-question">
                                <input type="text" id="add-prompt-set-input"
                                    placeholder="Find or create a prompt set...">


                                <button class="add-button shadow-button" id="add-prompt-set-button">
                                    <span style="font-size: 2em; color: #5c21d2bc;">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="search-set-container" style="padding: 30px 0px;">
                            {% for search_set in prompt_sets %}
                            <div class="expandable-container">
                                <div class="prompt-set-item" data-uuid="{{ search_set.uuid }}"
                                    data-title="{{ search_set.title }}">
                                    <div class="set-content">
                                        <span style="float: left; font-size: 1em; color: #5c21d2bc;">
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </span>
                                        <p class="set-title"
                                            style="margin-left: 5px; padding: 0px 10px; float: left; font-weight: 500;">
                                            {{
                                            search_set.title }}</p>
                                        <p class="set-items" style="text-align: right; ">{{ search_set.item_count() }}
                                            items

                                        </p>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div style="display: none" class="search-results-panel" id="prompt-search-results-panel"
                        style="margin: 0px 30px 30px 30px; text-align: left;">
                    </div>
                </div>
                <div class="tab-content" id="chat-panel" style="display: none;">
                </div>
            </div>

            <div class="bottom-toolbar"  id="bottom-toolbar-extraction">
                <div id="add-item-panel">
                    <p style="font-size: 24px; font-weight: 600;">Add Extraction</p>

                    <div class="ask-question-container">
                        <div class="ask-question">
                            <input type="text" id="add-search-term-input" placeholder="Term or phrase to extract...">

                            <button class="add-button shadow-button" id="add-term-button">
                                <span style="font-size: 2em; color: #5c21d2bc;">
                                    <i class="fa-solid fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-toolbar" id="bottom-toolbar-prompt" style="display: none;">
                <div id="add-item-panel">
                    <p style="font-size: 24px; font-weight: 600;">Add Prompt</p>

                    <div class="ask-question-container">
                        <div class="ask-question">
                            <input type="text" id="add-prompt-term-input" placeholder="Prompt to ask document...">

                            <button class="add-button shadow-button" id="add-prompt-term-button">
                                <span style="font-size: 2em; color: #5c21d2bc;">
                                    <i class="fa-solid fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-toolbar"  id="bottom-toolbar-chat" style="display: none;">
                <div id="add-item-panel">
                    <p style="font-size: 24px; font-weight: 600;">How can I help?</p>

                    <div class="ask-question-container">
                        <div class="ask-question">
                            <input type="text" id="chat-input" placeholder="Chat with document...">

                            <button class="add-button shadow-button" id="chat-button">
                                <span style="font-size: 2em; color: #5c21d2bc;">
                                    <i class="fa-brands fa-searchengin"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-window closed">
        </div>
        <div id="snackbar">Copied</div>
    </div>


    {%endblock%} {% block scripts %}
    {{super()}}
    {% include "index_scripts.html" %}
    {% include "panel_scripts.html" %}
    {% include "prompt_set_scripts.html" %}
    {% include "chat_scripts.html" %}
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="{{url_for('static', filename='javascript/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/pdf.js')}}"></script>


    <!-- <script src="{{url_for('static', filename='javascript/pdf/pspdfkit.js')}}"></script> -->
    <script src="{{url_for('static', filename='javascript/upload_identify.js')}}"></script>
    {% include "pdf_handling.html" %}

    {% endblock %}