<script>
var askingDocument = '';


$('#ask-question-btn').on('click', function(e) {
    e.preventDefault()
    let question = $('#ask-question-input')[0].value;
    askQuestion(question);
});




function askQuestion(question) {
// Call API to get answer
if (askingDocument != '') {
    askDocumentQuestion(question);
    return;
}

console.log("askQuestion");
openChatWindow();
showChatLoading();
$.ajax({
        url: '/api/ask',
        type: 'POST',
        data: JSON.stringify({
            question: question,
            model: 'gpt-4',
            space: $('#current-space-id')[0].innerHTML
        }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true,
        success: function(msg) {
            let answer = msg.answer;
            $('#ask-question-input')[0].value = ''
            openChatWindow();
            removeChatLoading();
            console.log(answer);
            $('.chat-window').append(`
            <div class="answer-card" style="padding: 30px; ">
                <p style="font-size: 30; color: #5D6F81;">
                    Question: <i>${question}</i>
                </p>
                <p style="font-size: 30; color: #5D6F81;">
                    ${answer}
                </p>
            </div>
        `) 
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(thrownError);
        }
    });
}

function askDocumentQuestion(question) {
// Call API to get answer
showChatLoading();
$.ajax({
        url: '/api/ask_document',
        type: 'POST',
        data: JSON.stringify({
            question: "Considering the document, answer this question: " + question,
            document: askingDocument,
            model: 'gpt-4'
        }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true,
        success: function(msg) {
            let answer = msg.answer;
            $('#ask-question-input')[0].value = ''
            openChatWindow();
            removeChatLoading();
            console.log(answer);
            $('.chat-window').append(`
            <div class="answer-card" style="padding: 30px; ">
                <p style="font-size: 30; color: #5D6F81;">
                    Asking ${askingDocument }: <i>${question}</i>
                </p>
                <p style="font-size: 30; color: #5D6F81;">
                    ${answer}
                </p>
            </div>
        `)
           
            
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(thrownError);
        }
    });
}

function askDocument(documentName) {
    $('#ask-question-input').attr("placeholder", "Ask " + documentName + " a question...");
    askingDocument = documentName;
}

function summarizeDocument(documentName) {
    showChatLoading();
    $.ajax({
        url: '/api/ask_document',
        type: 'POST',
        data: JSON.stringify({
            question: "Summarize the document text",
            document: documentName,
            model: 'gpt-4'
        }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true,
        success: function(msg) {
            let answer = msg.answer;
            $('#ask-question-input')[0].value = ''
            openChatWindow();

            // Switch to document question mode
            $('#ask-question-input').attr("placeholder", "Ask " + documentName + " a question...");
            askingDocument = documentName;
           
            console.log(answer);
            removeChatLoading();
            const newBox = $(`
            <div class="answer-card" style="padding: 30px; ">
                <p style="font-size: 30; color: #5D6F81;">
                    SUMMARIZE: <i>${documentName}</i>
                </p>
                <p style="font-size: 30; color: #5D6F81;">
                    ${answer}
                </p>
            </div>
        `).hide(); 
            $('.chat-window').append(newBox);

            //newBox.scrollIntoView();
            newBox.fadeIn();
 
           
            
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(thrownError);
        }
    });
}

function showChatLoading() {
    $('#navbar-img')[0].classList.add('spin');
    $('.chat-window').append(`
    <div id="loading-area" style="display: flex; height: 100px;">
            <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>`);
}

function removeChatLoading() {
    $('#navbar-img')[0].classList.remove('spin');
    $('.chat-window #loading-area').remove();
}

function showScanning() {
    $('.document')[0].classList.add('scanning')
}

function stopScanning() {

}

$('.rescan-button').on('click', function(e) {
    e.preventDefault()
    showScanning();
});


$(document).ready(function() {

    $('#space-select').on('change', function(e) {
        e.preventDefault()
        var selectedOption = $(this).val(); 
        console.log(selectedOption);

        if (selectedOption == "Create New Space") {
            window.location.href = "/spaces/new";
        } else if (selectedOption == "Logout") {
            window.location.href = "/logout";
        } else {
            window.location.href = "/?id=" + selectedOption;
        }
    });

    // Change event handler for the select element
    // $(".action-select").on("change", function() {
    //     var selectedOption = $(this).val(); // Get the selected option's value
    //     var documentName = $(this).data("document-name"); // Get the document name

    //     if (selectedOption == "Ask Document") {
    //         openChatWindow();
    //         askDocument(documentName);
    //     } else if (selectedOption == "Summarize") {
    //         openChatWindow();
    //         summarizeDocument(documentName);
    //     }
    //     console.log("Selected option:", selectedOption);
    //     console.log("Document:", documentName);

    //     for (var i = 0; i < $('select').length; i++) {
    //         $('select')[i].selectedIndex = 0;
    //     }
    // });    
});


</script>