<script>
    var is_adding_term = false;
    var search_set_add_uuid = "";
    var document_uuid = "{{ document.uuid }}";

    function showToast(message) {
        var x = document.getElementById("snackbar");
        if (message) {
            x.innerText = message;
        } else {
            x.innerText = "Copied to clipboard";
        }
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }

    function showWorking() {
        $('#navbar-img')[0].classList.add('spin');
    }

    function hideWorking() {
        $('#navbar-img')[0].classList.remove('spin');
    }

    const tabMenu = document.querySelector('.tab-menu');
        const tabMenuItems = tabMenu.querySelectorAll('li');

        tabMenuItems.forEach(item => {
            item.addEventListener('click', function() {
                tabMenuItems.forEach(item => item.classList.remove('active'));
                this.classList.add('active');

                $('.tab-content').hide();
                $('.bottom-toolbar').hide();
                var tabTitle = $(this).text();
                console.log(tabTitle);
                // Use the tabTitle variable as needed
                if (tabTitle == " Extract") {
                    console.log("Show extract");
                    $('#extraction-panel').show();
                    $('#bottom-toolbar-extraction').show();
                } else if (tabTitle == " Prompt") {
                    $('#prompt-panel').show();
                    $('#bottom-toolbar-prompt').show();
                } else if (tabTitle == " Chat") {
                    $('#chat-panel').show();
                    $('#bottom-toolbar-chat').show();
                }

            });
        });

    

    $(document).ready(function () {
        function performSemanticSearch(term) {
            console.log("semantic search");
            $.ajax({
                url: '/api/semantic_search',
                type: 'POST',
                data: JSON.stringify({
                    search_term: $("#add-search-term-input")[0].value,
                    document_uuid: document_uuid,
                    space_id: "{{ current_space_id }}"
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (msg) {
                    searchTerm = term;
                    highlightTerms = [term];
                    documents = msg.results.documents[0];
                    highlightTerms = documents;
                    console.log(documents);
                    

                    renderPDF();
                    setTimeout(function() {
                    console.log("showing next");
                    nextHighlight();
                }, 500);

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }
        
        $('.set-item').on("click", function () {
            console.log("Set item tapped");
            search_set_add_uuid = $(this).attr("data-uuid");
            $('#adding-search-set-title').text($(this).attr("data-title"));
            if (is_adding_term) {
                $('#adding-search-set-title').text($(this).attr("data-title"));
            } else {
                updateSearchSetPanel($(this).attr("data-uuid"));

                if (document_uuid == null || document_uuid == "") {
                    return;
                }

                showWorking();
                $.ajax({
                    url: '/api/begin_search',
                    type: 'POST',
                    data: JSON.stringify({
                        search_set_uuid: $(this).attr("data-uuid"),
                        document: "{{ document.path }}"
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        console.log(data);
                        hideWorking();
                        $('#search-results-panel').show();
                        $('#search-results-panel').empty();
                        $(data.template).hide().appendTo('#search-results-panel').fadeIn();
                        addResultListeners();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        console.log(thrownError);
                    }
                });
            }
        });

        function addResultListeners() {
            $('#set-close-button').on("click", function () {
                $('#search-results-panel').fadeOut();
            });
            $('.semantic-entry').on("click", function () {
                console.log("clicked");
                searchTerm = $(this).attr("data-title");
                performSemanticSearch(searchTerm);
            });

            $('#export').on("click", function (e) {
                e.preventDefault();
                searchDict = createSearchTermDictionary();

                var form = $('<form>', {
                    'action': '/export_extraction',
                    'method': 'GET'
                });

                $.each(searchDict, function (key, value) {
                    form.append($('<input>', {
                    'type': 'hidden',
                    'name': key,
                    'value': value
                    }));
                });

                form.append($('<input>', {
                    'type': 'hidden',
                    'name': 'pdf_title',
                    'value': $('#document-title')[0].innerText
                }));

                $('body').append(form);
                form.submit();
            });

            $('#submit-comment').on("click", function () {
                rating = getRating();
                searchDict = createSearchTermDictionary();

                $.ajax({
                    url: '/submit_rating',
                    type: 'POST',
                    data: JSON.stringify({
                        pdf_title: $('#document-title')[0].innerText,
                        rating: rating,
                        comment: $("#comment-input")[0].value,
                        result_json: searchDict
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    async: true,
                    success: function (msg) {
                        // reload page
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        console.log(thrownError);
                    }
                });
            });

            $('.extraction-result').on("click", function () {
                // get text content
                searchTerm = $(this).text();
                console.log("search term: " + searchTerm);
                highlightTerms = [searchTerm];
                    
                showToast("Copied to clipboard");
                navigator.clipboard.writeText(searchTerm);
                console.log(searchTerm);

                renderPDF();
                setTimeout(function() {
                    console.log("showing next");
                    nextHighlight();
                }, 500);
            });

            
        }

        function updateSearchSetPanel(set_uuid) {
            $.ajax({
                url: '/api/search_results',
                type: 'POST',
                data: JSON.stringify({
                    search_set_uuid: set_uuid,
                    document_uuid: document_uuid
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (data) {
                    console.log(data);
                    $('#search-results-panel').show();
                    $('#search-results-panel').empty();
                    $(data.template).hide().appendTo('#search-results-panel').fadeIn();
                    
                    console.log($('.semantic-entry'))
                    addResultListeners();
                    
                    
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        $('#add-search-term-input').on('keyup', function(e) {
            if (e.key === 'Enter') {
                if (search_set_add_uuid != "") {
                addSearchSetItem();
                return;
            } else {
                showToast("Please select an extraction group to add to");
            }
            }
        });

        $('#add-term-button').on("click", function () {
            if (search_set_add_uuid != "") {
                addSearchSetItem();
                return;
            } else {
                showToast("Please select an extraction group to add to");
            }
        });

        function addSearchSetItem () {
            $.ajax({
                url: '/api/add_search_term',
                type: 'POST',
                data: JSON.stringify({
                    search_set_uuid: search_set_add_uuid,
                    term: $("#add-search-term-input")[0].value,
                    space_id: "{{ current_space_id }}",
                    searchtype: "extraction"//$('#segment-1')[0].checked ? "search" : "extraction"
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (msg) {
                    // reload page
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
            search_set_add_uuid = "";
            is_adding_term = false
        }

        $('#add-search-set-input').on('keyup', function(e) {
            if (e.key === 'Enter') {
                console.log("triggering click");
                $('#add-search-set-button').click();
            }
        });

        $("#add-search-set-button").on("click", function () {
            $.ajax({
                url: '/api/add_search_set',
                type: 'POST',
                data: JSON.stringify({
                    title: $("#add-search-set-input")[0].value,
                    space_id: "{{ current_space_id }}",
                    search_type: "extraction"
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (msg) {
                    // reload page
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        });

        $("#semantic-search-button").on("click", function (e) {
            e.preventDefault();
            performSemanticSearch($("#add-search-term-input")[0].value);
        });

        



        $('#next-semantic-button').on('click', function(e) {
            e.preventDefault(); 
            nextHighlight();
        });

        $(document).on('keyup', function(e) {
            if (e.key === 'ArrowRight') {
                nextHighlight();
            }
        });

        function nextHighlight() {
            current_search_item += 1;
            if (current_search_item >= highlights.length) {
                current_search_item = 0;
            }

            updateHighlights();
        }

        $('#prev-semantic-button').on('click', function(e) {
            e.preventDefault();
            previousHighlight();
        });

        $(document).on('keyup', function(e) {
            if (e.key === 'ArrowLeft') {
                previousHighlight();
            }
        });

        function previousHighlight() {
            current_search_item -= 1;
            if (current_search_item == -1) {
                current_search_item =  highlights.length - 1;
            }

            updateHighlights();
        }

        function updateHighlights() {
            highlights = $('.highlight');
            console.log(highlights);

            highlights[current_search_item].scrollIntoView({behavior: "smooth", block: "center", inline: "nearest"});
            $('#semantic-panel-count').text(current_search_item + 1 + " of " + highlights.length);
            for (var i = 0; i < highlights.length; i++) {
                highlights[i].style.backgroundColor = 'yellow';
                highlights[i].style.opacity = 0.5;
            }

            highlights[current_search_item].style.backgroundColor = 'red';
        }

        function getRating() {
            const ratingInputs = document.querySelectorAll('input[name="rate"]');
            let selectedValue;

            for (const input of ratingInputs) {
                if (input.checked) {
                selectedValue = input.value;
                break;
                }
            }

            return selectedValue;
        }

        function createSearchTermDictionary() {
            const searchTermDictionary = {};

            const setEntries = document.querySelectorAll('.set-entry-group');
            setEntries.forEach((entry) => {
                const searchPhrase = entry.querySelector('.set-title').textContent.trim();
                const result = entry.querySelector('.extraction-result').textContent.trim();
                searchTermDictionary[searchPhrase] = result;
            });


            return searchTermDictionary;
        }
        
    });
</script>