{% extends "landing.html" %}

{% block title %}Create Account{% endblock %}

{% block hero_auth %}
<form method="POST" action="{{ url_for('auth.register') }}" class="local-login-form">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <input type="text" name="name" placeholder="Full Name" required />
  <input type="email" name="email" placeholder="Email Address" required />
  <input type="password" name="password" placeholder="Password" required />
  <button type="submit">Create Account</button>
</form>
<hr>
<p style="font-size: 14px;">Already have an account? <a href="{{ url_for('auth.index') }}">Sign In</a>.
</p>
{% endblock %}
